<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer">
    <div class="mt-5 pt-4 pb-4">
        <hr class="my-4">
        <div class="container text-center">
            <div class="d-flex justify-content-center">
                <div>
                    <span>&copy; 2025 <strong>HELPDESK IPOR</strong> | </span>
                    <span>Powered by: </span>
                    <a href="https://nextorion.pe" target="_blank" class="text-muted text-decoration-none">Nextorion.pe</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>