<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="margin-right: 10px;">Help<span style="color: #ff6666;">Desk</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAuthority('Usuario')">
                        <a class="nav-link" href="/inicio">Inicio</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('Usuario')">
                        <a class="nav-link" href="/TicketsEnProceso">Tickets En proceso</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('Usuario')">
                        <a class="nav-link" href="/TicketsAtendidos">Tickets Atendidos</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('Usuario')">
                        <a class="nav-link" href="/TicketsDesestimados">Tickets Desestimados</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Admin', 'Dirección','Soporte')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Mis Tickets
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/inicio">Enviados</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/TicketsEnProceso">En proceso</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/TicketsAtendidos">Atendidos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/TicketsDesestimados">Desestimados</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Admin', 'Dirección')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dirección
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/direccion/Dashboard">Dashboard</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/direccion/Recibidos">Tickets Recibidos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/direccion/Historial">Historial</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('Admin', 'Soporte')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Soporte
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/soporte/Dashboard">Dashboard</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/soporte/Recibidos">Tickets Recibidos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/soporte/Recepcionados">Tickets Recepcionados</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/soporte/Atendidos">Tickets Atendidos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/soporte/Desestimados">Tickets Desestimados</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Admin Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/Dashboard">Dashboard</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin/Usuarios">Lista De Usuarios</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admin/Clasificadores">Clasificadores</a></li>
                        </ul>
                    </li>
                    <li class="d-flex align-items-center" style="color:white;">
                        <i class="bi bi-person-fill"></i><span style="margin-right:5px;">:</span>
                        <p th:text="${nombreUsuario}" style="margin-bottom:0px"></p>
                    </li>
                    <li class="d-flex align-items-center" style="margin-left:15px;">
                        <p style="color: white; margin-bottom:0px; font-size: 16px; font-weight:600;"><span id="horaActual" th:text="${horaActual}">HH:MM:SS</span></p>
                        <script>
                            function actualizarHora() {
                                const ahora = new Date(); // Obtiene la fecha y hora actual del cliente
                                const horas = String(ahora.getHours()).padStart(2, '0'); // Obtiene las horas y añade un 0 al inicio si es necesario
                                const minutos = String(ahora.getMinutes()).padStart(2, '0'); // Obtiene los minutos
                                const segundos = String(ahora.getSeconds()).padStart(2, '0'); // Obtiene los segundos

                                // Actualiza el contenido del span con la hora formateada
                                document.getElementById('horaActual').textContent = `${horas}:${minutos}:${segundos}`;
                            }

                            // Actualiza la hora cada segundo
                            setInterval(actualizarHora, 1000);
                        </script>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form action="/app/logout" method="POST">
                            <button type="submit" class="btn btn-warning">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
