<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TicketSystem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TicketsEnProceso">Tickets En Proceso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TicketsAtendidos">Tickets Atendidos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Gestionar Tablas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Usuarios">Lista De Usuarios</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Clasificadores">Clasificadores</a></li>
                        </ul>
                    </li>
                    <li>
                        <p th:text="'Usuario: ' + ${nombreUsuario}" style="color: white; margin-bottom:0px">Bienvenido: nombre</p>
                        <p style="color: white; margin-bottom:0px">Hora actual: <span id="horaActual" th:text="${horaActual}">HH:MM:SS</span></p>
                        <script>
                            function actualizarHora() {
                                const ahora = new Date(); // Obtiene la fecha y hora actual del cliente
                                const horas = String(ahora.getHours()).padStart(2, '0'); // Obtiene las horas y añade un 0 al inicio si es necesario
                                const minutos = String(ahora.getMinutes()).padStart(2, '0'); // Obtiene los minutos
                                const segundos = String(ahora.getSeconds()).padStart(2, '0'); // Obtiene los segundos

                                // Actualiza el contenido del span con la hora formateada
                                document.getElementById('horaActual').textContent = `${horas}:${minutos}:${segundos}`;
                            }

                            // Actualiza la hora cada segundo
                            setInterval(actualizarHora, 1000);
                        </script>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form action="/app/logout" method="POST">
                            <button type="submit" class="btn btn-warning">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
