<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headImports">
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--SWEET ALERT LOCAL-->
    <link rel="stylesheet" href="/imports/sweetalert2.min.css">
    <script src="/imports/sweetalert2.all.min.js"></script>

    <!--LITEPICKER LOCAL-->
    <link rel="stylesheet" href="/imports/litepicker.css">
    <script src="/imports/litepicker.js"></script>

    <!--CSS LOCAL BOOSTRAP ICONS 1.11.3-->
    <link rel="stylesheet" href="/imports/bootstrap-icons/font/bootstrap-icons.min.css">

    <!--Para usar WS LOCAL-->
    <script src="/imports/sockjs.min.js"></script>
    <script src="/imports/stomp.min.js"></script>



    <!--CSS LOCAL BOOSTRAP 5.3.3-->
    <link rel="stylesheet" href="/imports/bootstrap/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/general.css}"/>
    <script type="module" src="/js/Filtro-Paginacion.js" defer></script>
    <script type="module" src="/js/WebSocket.js" defer></script>
    <link rel="icon" type="image/png" th:href="@{/images/IPOR.png}">
    <title th:text="${Titulo}">HelpDesk</title>
</head>
<body>




<div th:fragment="bodyImportsAndNotification">
    <div id="customNotification" class="custom-notification" style="display: none;">
        <p id="notificationMessage"></p>
    </div>
    <script src="/js/general.js"></script>
    <audio id="notificationSound" src="/sounds/alert.mp3" preload="auto"></audio>
    <!--JS LOCAL BOOSTRAP 5.3.3-->
    <script src="/imports/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/params.js"></script>
</div>




</body>
</html>