<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="~{common/header :: header}">
    <!--si se usa th:insert, este se colocará dentro de este div-->
</div>
<div class="container" style="margin-bottom:10px;">
    <h2>ADMIN: Gestión de Clasificadores</h2>
</div>
<div class="container border shadow p-3 px-4 mb-5 bg-body rounded contenedor-clasificadores">
    <!-- Clasificadores Categoria -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">Categorias Incidencia</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#newCatIncidenciaModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Categoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${catIncidencias}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#catIncidenciasModal"
                                th:data-catIncidencias-id="${clasificador.id}"
                                th:data-catIncidencias-nombre="${clasificador.nombre}"
                                onclick="openCatIncidenciasModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/catIncidencias/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar esta Incidencia?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/catIncidencias/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar esta Incidencia?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
















    <!-- Clasificadores Incidencia -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">SubCategoria Incidencia</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#newSubCategoriaIncidenciaModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre SubCategoria</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${subCatIncidencias}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#subCatIncidenciasModal"
                                th:data-subCatIncidencias-id="${clasificador.id}"
                                th:data-subCatIncidencias-nombre="${clasificador.nombre}"
                                onclick="opensubCatIncidenciasModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/subCatIncidencias/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar esta Sub Categoria Incidencia?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/subCatIncidencias/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar esta Sub Categoria Incidencia?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>















    <!-- Clasificadores Incidencia -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">Clasificadores Incidencia</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#newIncidenciaModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Incidencia</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${tipoIncidencias}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#incidenciaModal"
                                th:data-incidencia-id="${clasificador.id}"
                                th:data-incidencia-nombre="${clasificador.nombre}"
                                onclick="openIncidenciaModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/incidencia/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar esta Incidencia?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/incidencia/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar esta Incidencia?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container border shadow p-3 px-4 mb-5 bg-body rounded contenedor-clasificadores">
    <!-- Clasificadores Atencion -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">Clasificadores Atención</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#newAtencionModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Atencion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${atenciones}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#atencionModal"
                                th:data-atencion-id="${clasificador.id}"
                                th:data-atencion-nombre="${clasificador.nombre}"
                                onclick="openAtencionModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/atencion/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar este Atencion?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/atencion/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar este Atencion?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container border shadow p-3 px-4 mb-5 bg-body rounded contenedor-clasificadores">
    <!-- Clasificadores Desestimación -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">Clasificadores Desestimación</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#newDesestimacionModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Desestimación</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${desestimaciones}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#desestimacionModal"
                                th:data-desestimacion-id="${clasificador.id}"
                                th:data-desestimacion-nombre="${clasificador.nombre}"
                                onclick="openDesestimacionModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/desestimacion/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar esta Desestimación?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/desestimacion/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar esta Desestimación?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container border shadow p-3 px-4 mb-5 bg-body rounded contenedor-clasificadores">
    <!-- Clasificadores Área -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center bg-light text-dark">
            <h5 class="mb-0">Áreas</h5>
            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#newAreaModal">
                <i class="bi bi-plus-lg"></i> Nuevo
            </button>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover table-bordered text-center mb-0">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Área</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${areas}"
                    th:classappend="${!clasificador.isActive} ? 'row-desactivado' : ''">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td th:text="${clasificador.isActive ? 'Activo' : 'Desactivado'}">Estado</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#areaModal"
                                th:data-area-id="${clasificador.id}"
                                th:data-area-nombre="${clasificador.nombre}"
                                onclick="openAreaModal(this)">
                            Editar
                        </button>
                        <th:block th:if="${clasificador.isActive}">
                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/app/clasificadores/desactivar/area/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de desactivar esta Área?');">
                                Desactivar
                            </a>
                        </th:block>
                        <th:block th:if="${!clasificador.isActive}">
                            <a class="btn btn-success btn-sm"
                               th:href="@{'/app/clasificadores/activar/area/' + ${clasificador.id}}"
                               onclick="return confirmAction(this.href, '¿Estás seguro de activar esta Área?');">
                                Activar
                            </a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal CREAR NUEVA INCIDENCIA-->
<div class="modal fade" id="newIncidenciaModal" tabindex="-1" aria-labelledby="newIncidenciaModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/incidencia/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nombra la Nueva Clasificación de
                        Incidencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreincidencia" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreincidencia" name="nombre" required
                               autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal para EDITAR INCIDENCIA -->
<div class="modal fade" id="incidenciaModal" tabindex="-1" aria-labelledby="incidenciaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="incidenciaModalLabel">Editar Clasificador de Incidencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="incidenciaForm" method="post">
                    <input type="hidden" id="incidenciaId" name="id"/>
                    <div class="mb-3">
                        <label for="incidenciaNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="incidenciaNombre" name="nombre" required
                               autocomplete="off"/>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--CREAR ATENCION-->
<div class="modal fade" id="newAtencionModal" tabindex="-1" aria-labelledby="newAtencionModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/atencion/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newatencionModalLabel">Nombra la Nueva Clasificación de
                        Atencion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreatencion" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreatencion" name="nombre" required
                               autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--EDITAR ATENCION -->
<div class="modal fade" id="atencionModal" tabindex="-1" aria-labelledby="atencionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="atencionModalLabel">Editar Clasificador de Atencion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="atencionForm" method="post">
                    <input type="hidden" id="atencionId" name="id"/>
                    <div class="mb-3">
                        <label for="atencionNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="atencionNombre" name="nombre" required
                               autocomplete="off"/>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--CREAR DESESTIMACION-->
<div class="modal fade" id="newDesestimacionModal" tabindex="-1" aria-labelledby="newDesestimacionModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/desestimacion/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newdesestimacionModalLabel">Nombra la Nueva Clasificación
                        de Desestimación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombredesestimacion" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombredesestimacion" name="nombre" required
                               autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--EDITAR DESESTIMACION -->
<div class="modal fade" id="desestimacionModal" tabindex="-1" aria-labelledby="desestimacionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="desestimacionModalLabel">Editar Clasificador de Desestimacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="desestimacionForm" method="post">
                    <input type="hidden" id="desestimacionId" name="id"/>
                    <div class="mb-3">
                        <label for="desestimacionNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="desestimacionNombre" name="nombre" required
                               autocomplete="off"/>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--CREAR AREA-->
<div class="modal fade" id="newAreaModal" tabindex="-1" aria-labelledby="newAreaModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/area/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newAreaModalLabel">Nombra la Nueva Área</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreArea" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreArea" name="nombre" required
                               autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--EDITAR AREA-->
<div class="modal fade" id="areaModal" tabindex="-1" aria-labelledby="areaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areaModalLabel">Editar Área</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="areaForm" method="post">
                    <input type="hidden" id="areaId" name="id"/>
                    <div class="mb-3">
                        <label for="areaNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="areaNombre" name="nombre" required
                               autocomplete="off"/>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--SweetAlert-->
<script>
    function confirmAction(url, message) {
        Swal.fire({
            title: 'Confirmación',
            text: message,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, continuar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
        return false; // Evita que el enlace se abra automáticamente
    }
</script>

<script>
    function openAreaModal(button) {
    var id = button.getAttribute("data-area-id");
    var nombre = button.getAttribute("data-area-nombre");

    document.getElementById("areaId").value = id;
    document.getElementById("areaNombre").value = nombre;

    // Configurar la acción del formulario
    const form = document.getElementById('areaForm');
    form.setAttribute('action', `/app/clasificadores/actualizar/area/${id}`);
    }



    function openDesestimacionModal(button) {
    var id = button.getAttribute("data-desestimacion-id");
    var nombre = button.getAttribute("data-desestimacion-nombre");

    document.getElementById("desestimacionId").value = id;
    document.getElementById("desestimacionNombre").value = nombre;

    // Configurar la acción del formulario
    const form = document.getElementById('desestimacionForm');
    form.setAttribute('action', `/app/clasificadores/actualizar/desestimacion/${id}`);
}
function openIncidenciaModal(button) {
    var id = button.getAttribute("data-incidencia-id");
    var nombre = button.getAttribute("data-incidencia-nombre");

    document.getElementById("incidenciaId").value = id;
    document.getElementById("incidenciaNombre").value = nombre;

    // Configurar la acción del formulario
    const form = document.getElementById('incidenciaForm');
    form.setAttribute('action', `/app/clasificadores/actualizar/incidencia/${id}`);
}

function openAtencionModal(button) {
    var id = button.getAttribute("data-atencion-id");
    var nombre = button.getAttribute("data-atencion-nombre");

    document.getElementById("atencionId").value = id;
    document.getElementById("atencionNombre").value = nombre;

    // Configurar la acción del formulario
    const form = document.getElementById('atencionForm');
    form.setAttribute('action', `/app/clasificadores/actualizar/atencion/${id}`);
}

</script>


<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>

</body>
</html>