<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="~{common/header :: header}">
    <!--si se usa th:insert, este se colocará dentro de este div-->
</div>
<div class="container-fluid">
    <h2>ADMIN / Clasificadores</h2>
</div>
<div class="container-fluid  border shadow p-3 mb-5 bg-body rounded">
    <div class="row">
        <!-- Clasificadores de Incidencia -->
        <div class="col-4">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Clasificadores Incidencia</h5>
                <button style="margin-bottom:10px"  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newIncidenciaModal">
                    Nuevo
                </button>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Incidencia</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${incidencias}">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#incidenciaModal"
                                th:data-incidencia-id="${clasificador.id}"
                                th:data-incidencia-nombre="${clasificador.nombre}"
                                onclick="openIncidenciaModal(this)">
                            Editar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Clasificadores de Servicio -->
        <div class="col-4">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Clasificadores Servicio</h5>
                <button style="margin-bottom:10px"  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newServicioModal">
                    Nuevo
                </button>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Servicio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${servicios}">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#servicioModal"
                                th:data-servicio-id="${clasificador.id}"
                                th:data-servicio-nombre="${clasificador.nombre}"
                                onclick="openServicioModal(this)">
                            Editar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Clasificadores de Urgencia -->
        <div class="col-4">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Clasificadores Urgencia</h5>
                <button style="margin-bottom:10px" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newUrgenciaModal">
                    Nuevo
                </button>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nombre Urgencia</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clasificador, iter: ${urgencias}">
                    <td th:text="${iter.count}">#</td>
                    <td th:text="${clasificador.nombre}">Nombre</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#urgenciaModal"
                                th:data-urgencia-id="${clasificador.id}"
                                th:data-urgencia-nombre="${clasificador.nombre}"
                                onclick="openUrgenciaModal(this)">
                            Editar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="modal fade" id="newServicioModal" tabindex="-1" aria-labelledby="newServicioModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/servicio/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newservicioModalLabel">Nombra la Nueva Clasificación de Servicio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreservicio" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreservicio" name="nombre" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="newUrgenciaModal" tabindex="-1" aria-labelledby="newUrgenciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/urgencia/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newUrgenciaModalLabel">Nombra la Nueva Clasificación de Urgencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreurgencia" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreurgencia" name="nombre" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="newIncidenciaModal" tabindex="-1" aria-labelledby="newIncidenciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/clasificadores/incidencia/nuevo" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nombra la Nueva Clasificación de Incidencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombreincidencia" class="form-label">Nuevo clasificador:</label>
                        <input type="text" class="form-control" id="nombreincidencia" name="nombre" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>




<!-- Modal para Clasificador de Incidencia -->
<div class="modal fade" id="incidenciaModal" tabindex="-1" aria-labelledby="incidenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="incidenciaModalLabel">Editar Clasificador de Incidencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="incidenciaForm" method="post">
                    <input type="hidden" id="incidenciaId" name="id" />
                    <div class="mb-3">
                        <label for="incidenciaNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="incidenciaNombre" name="nombre" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>







<!-- Modal para Clasificador de Servicio -->
<div class="modal fade" id="servicioModal" tabindex="-1" aria-labelledby="servicioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="servicioModalLabel">Editar Clasificador de Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="servicioForm" method="post">
                    <input type="hidden" id="servicioId" name="id" />
                    <div class="mb-3">
                        <label for="servicioNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="servicioNombre" name="nombre" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal para Clasificador de Urgencia -->
<div class="modal fade" id="urgenciaModal" tabindex="-1" aria-labelledby="urgenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="urgenciaModalLabel">Editar Clasificador de Urgencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="urgenciaForm" method="post">
                    <input type="hidden" id="urgenciaId" name="id" />
                    <div class="mb-3">
                        <label for="urgenciaNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="urgenciaNombre" name="nombre" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openIncidenciaModal(button) {
        var id = button.getAttribute("data-incidencia-id");
        var nombre = button.getAttribute("data-incidencia-nombre");

        document.getElementById("incidenciaId").value = id;
        document.getElementById("incidenciaNombre").value = nombre;

        // Configurar la acción del formulario
        const form = document.getElementById('incidenciaForm');
        form.setAttribute('action', `/app/clasificadores/actualizar/incidencia/${id}`);
    }

    function openServicioModal(button) {
        var id = button.getAttribute("data-servicio-id");
        var nombre = button.getAttribute("data-servicio-nombre");

        document.getElementById("servicioId").value = id;
        document.getElementById("servicioNombre").value = nombre;

        // Configurar la acción del formulario
        const form = document.getElementById('servicioForm');
        form.setAttribute('action', `/app/clasificadores/actualizar/servicio/${id}`);
    }

    function openUrgenciaModal(button) {
        var id = button.getAttribute("data-urgencia-id");
        var nombre = button.getAttribute("data-urgencia-nombre");

        document.getElementById("urgenciaId").value = id;
        document.getElementById("urgenciaNombre").value = nombre;

        // Configurar la acción del formulario
        const form = document.getElementById('urgenciaForm');
        form.setAttribute('action', `/app/clasificadores/actualizar/urgencia/${id}`);
    }

</script>





<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>

</body>
</html>