<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common/imports :: headImports}">
    <title>Exportar Tickets</title>
</head>

<body>
    <header th:replace="~{common/header :: header}"></header>
    <main>
        <div class="container">
            <h2>ADMIN: Dashboard</h2>

            <!-- Formulario de Filtrado por Fecha -->
            <form id="formFiltrado" class="form-inline">
                <label for="fechaInicio">Fecha Inicio:</label>
                <input type="date" id="fechaInicio" name="fechaInicio">

                <label for="fechaFin">Fecha Fin:</label>
                <input type="date" id="fechaFin" name="fechaFin">

                <button type="button" id="btnFiltrar" class="btn btn-primary">Filtrar</button>
            </form>
        </div>



        <script src="/imports/chart.min.js"></script>
        <div class="container border shadow p-3 px-4 mb-5 bg-body rounded" style="margin-top: 10px">
            <h3 style="text-align:center; margin-bottom:20px;"><i class="bi bi-clock-history"></i> Registros Realizados:</h3>
            <div class="row">
                <div class="col-12 col-md-3 text-center mb-4">
                    <a href="/soporte/Recepcionar" class="btn-dashboard">
                        <div class="rounded bg-light text-dark card">
                            <p class="mb-0">Total: Tickets Creados</p>
                            <div class="info-container">
                                <span id="ntotalTickets" class="h4 mb-0">0</span> <!-- ID agregado -->
                                <i class="bi bi-ticket icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 text-center mb-4">
                    <a href="/soporte/Atender" class="btn-dashboard">
                        <div class="rounded bg-info text-white card">
                            <p class="mb-0">Total: Recepciones Realizadas</p>
                            <div class="info-container">
                                <span id="ntotalRecepcionados" class="h4 mb-0">0</span> <!-- ID agregado -->
                                <i class="bi bi-check-circle icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 text-center mb-4">
                    <a href="/soporte/Tickets-Cerrados" class="btn-dashboard">
                        <div class="rounded bg-success text-white card">
                            <p class="mb-0">Total: Tickets Atendidos</p>
                            <div class="info-container">
                                <span id="ntotalAtendidos" class="h4 mb-0">0</span> <!-- ID agregado -->
                                <i class="bi bi-check2-circle icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 text-center mb-4">
                    <a href="/soporte/Tickets-Desestimados" class="btn-dashboard">
                        <div class="rounded bg-secondary text-white card">
                            <p class="mb-0">Total: Tickets Desestimados</p>
                            <div class="info-container">
                                <span id="ntotalDesestimados" class="h4 mb-0">-</span> <!-- ID agregado -->
                                <i class="bi bi-trash"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                <canvas id="graficoTicketsxFase" style="max-width: 100%; height: 300px;"></canvas>
            </div>

                <div class="row justify-content-center mt-4"> <!-- Centra el contenido dentro de la fila -->
                    <div class="col-12 col-md-3 text-center mb-4">
                        <a href="#" class="btn-dashboard" onclick="window.location.href='/admin/exportar-tickets'">
                            <div class="rounded bg-primary text-white card">
                                <p class="mb-0">Exportar Tickets (Excel)</p>
                                <i class="bi bi-file-earmark-excel icon"></i>
                            </div>
                        </a>
                    </div>
                </div>

        </div>







        <script th:inline="javascript">
            let graficoTickets = null;
            // Variables para las etiquetas y los datos
            var etiquetas = ["Creados", "Recepcionados", "Atendidos", "Desestimados"];
            var datos = [0, 0, 0, 0];  // Inicialmente a 0 hasta que se obtengan los datos reales

            // Función para crear o actualizar el gráfico
            function crearGrafico() {
                const ctx = document.getElementById('graficoTicketsxFase').getContext('2d');

                // Si el gráfico ya existe, actualizamos los datos
                if (graficoTickets !== null) {
                    // Actualizamos los datos del gráfico con los valores actuales
                    graficoTickets.data.datasets[0].data = datos;
                    graficoTickets.update();  // Actualiza el gráfico sin destruirlo
                } else {
                    // Si el gráfico no existe, lo creamos
                    graficoTickets = new Chart(ctx, {
                        type: 'bar', // Cambia a 'pie' si prefieres un gráfico de pastel
                        data: {
                            labels: etiquetas,
                            datasets: [{
                                label: 'Tickets',
                                data: datos,
                                backgroundColor: [
                                    'rgba(169, 169, 169, 0.2)',  // gris para la primera barra
                                    'rgba(135, 206, 235, 0.2)',  // Celeste para la segunda barra
                                    'rgba(75, 192, 192, 0.2)',  // Verde para la tercera barra
                                    'rgba(169, 169, 169, 0.2)'  // Gris para la cuarta barra
                                ],
                                borderColor: [
                                    'rgba(169, 169, 169, 1)',  // gris
                                    'rgba(135, 206, 235, 1)',  // Amarillo
                                    'rgba(75, 192, 192, 1)',  // Verde
                                    'rgba(169, 169, 169, 1)'  // Gris
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: false,  // Evita que el gráfico se ajuste automáticamente
                            maintainAspectRatio: false, // Evita que el gráfico mantenga la relación de aspecto
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        stepSize: 1,
                                        callback: function (value) {
                                            return Number.isInteger(value) ? value : null;  // Muestra solo enteros
                                        }
                                    }
                                }
                            }
                        }
                    });
                }
            }

            // Función para obtener los datos de los contadores
            function actualizarContadores() {
                return Promise.all([
                    fetch('/app/dashboard/contador/total').then(response => response.json()), // Total tickets
                    fetch('/app/dashboard/contador/recepcionados').then(response => response.json()), // Recepcionados
                    fetch('/app/dashboard/contador/atendidos').then(response => response.json()), // Atendidos
                    fetch('/app/dashboard/contador/desestimados').then(response => response.json()) // Desestimados
                ]).then(([total, recepcionados, atendidos, desestimados]) => {
                    // Actualiza los contadores con los datos obtenidos
                    document.getElementById("ntotalTickets").textContent = total;
                    document.getElementById("ntotalRecepcionados").textContent = recepcionados;
                    document.getElementById("ntotalAtendidos").textContent = atendidos;
                    document.getElementById("ntotalDesestimados").textContent = desestimados;
                    // Actualiza los datos del gráfico
                    datos[0] = total;
                    datos[1] = recepcionados;
                    datos[2] = atendidos;
                    datos[3] = desestimados;

                    // Llama a la función para crear o actualizar el gráfico con los datos ya cargados
                    crearGrafico();
                }).catch(error => {
                    console.error('Error al obtener los contadores:', error);
                });
            }

            // Llamamos a la función para actualizar los contadores y luego crear el gráfico
            actualizarContadores();

            // Actualiza los contadores cada 5 segundos (5000 milisegundos)
            setInterval(actualizarContadores, 5000);
        </script>




        <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
            <h3><i class="bi bi-flag"></i> Tickets por Incidencia:</h3>
            <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
                <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <table class="table table-bordered table-hover" style="font-size:14px;">
                        <thead>
                        <tr>
                            <th>Clasificación de Incidencia</th>
                            <th>Conteo de Tickets</th>
                            <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                        </tr>
                        </thead>
                        <tbody id="TicketsporIncidenciaTabla">
                        <!-- Filas se agregarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
                <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                    <canvas id="TicketsporIncidencia"
                            style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
                </div>
            </div>
        </div>



        <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
            <h3><i class="bi bi-exclamation-triangle"></i> Tickets por Urgencia:</h3>
            <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
                <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <table class="table table-bordered table-hover" style="font-size:14px;">
                        <thead>
                        <tr>
                            <th>Urgencia</th>
                            <th>Conteo de Tickets</th>
                            <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                        </tr>
                        </thead>
                        <tbody id="TicketsporUrgenciaTabla">
                        <!-- Filas se agregarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
                <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                    <canvas id="TicketsporUrgencia"
                            style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
                </div>
            </div>
        </div>

        <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
            <h3><i class="bi bi-motherboard"></i> Gráfico de Componentes Solicitados Aprobados</h3>
            <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
                <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <table class="table table-bordered table-hover" style="font-size:14px;">
                        <thead>
                        <tr>
                            <th>Componente Solicitado</th>
                            <th>Contador</th>
                            <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                        </tr>
                        </thead>
                        <tbody id="TipoComponentesAdjuntosAprobadosTabla">
                        <!-- Filas se agregarán dinámicamente aquí -->
                        </tbody>
                    </table>
                </div>
                <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                    <canvas id="TipoComponentesAdjuntosAprobados"
                            style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/graficosDashboard.js"></script>
    <script>
        inicializarDashboard();
    </script>

    <div th:insert="~{common/imports :: bodyImportsAndNotification}"></div>
</body>

</html>