<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
    <title>Exportar Tickets</title>
</head>
<body>
<header th:replace="~{common/header :: header}"></header>
<main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <div class="container" style="margin-top: 10px">
        <h2>ADMIN / Dashboard:</h2>
        <div class="row">
            <div class="col-12 col-md-3 text-center mb-4">
                <a href="/soporte/Recibidos" class="btn-dashboard">
                    <div class="rounded bg-light text-dark card">
                        <p class="mb-0">Total: Tickets Creados</p>
                        <div class="info-container">
                            <span id="ntotalTickets" class="h4 mb-0">100</span> <!-- ID agregado -->
                            <i class="bi bi-ticket icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3 text-center mb-4">
                <a href="/soporte/Recepcionados" class="btn-dashboard">
                    <div class="rounded bg-info text-white card">
                        <p class="mb-0">Total: Recepciones Realizadas</p>
                        <div class="info-container">
                            <span id="ntotalRecepcionados" class="h4 mb-0">100</span> <!-- ID agregado -->
                            <i class="bi bi-check-circle icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3 text-center mb-4">
                <a href="/soporte/Atendidos" class="btn-dashboard">
                    <div class="rounded bg-success text-white card">
                        <p class="mb-0">Total: Tickets Atendidos</p>
                        <div class="info-container">
                            <span id="ntotalAtendidos" class="h4 mb-0">100</span> <!-- ID agregado -->
                            <i class="bi bi-check2-circle icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3 text-center mb-4">
                <a href="" class="btn-dashboard">
                    <div class="rounded bg-secondary text-white card">
                        <p class="mb-0">Total: Tickets Desestimados</p>
                        <div class="info-container">
                            <span id="ntotalDesestimados" class="h4 mb-0">100</span> <!-- ID agregado -->
                            <i class="bi bi-trash"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container text-center mt-4">
        <div class="d-flex justify-content-center">
            <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
            <canvas id="graficoTicketsxFase" style="max-width: 100%; height: 400px;"></canvas>
        </div>
    </div>



    <div class="container mt-4"> <!-- mt-4 para margen superior -->
        <div class="row justify-content-center"> <!-- Centra el contenido dentro de la fila -->
            <div class="col-12 col-md-3 text-center mb-4">
                <a href="#" class="btn-dashboard" onclick="window.location.href='/admin/exportar-tickets'">
                    <div class="rounded bg-primary text-white card">
                        <p class="mb-0">Exportar Tickets</p>
                        <i class="bi bi-file-earmark-excel icon"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>







    <script th:inline="javascript">
        let graficoTickets = null;
        // Variables para las etiquetas y los datos
        var etiquetas = ["Creados", "Recepcionados", "Atendidos", "Desestimados"];
        var datos = [0, 0, 0, 0];  // Inicialmente a 0 hasta que se obtengan los datos reales

        // Función para crear o actualizar el gráfico
        function crearGrafico() {
            const ctx = document.getElementById('graficoTicketsxFase').getContext('2d');

            // Si el gráfico ya existe, actualizamos los datos
            if (graficoTickets !== null) {
                // Actualizamos los datos del gráfico con los valores actuales
                graficoTickets.data.datasets[0].data = datos;
                graficoTickets.update();  // Actualiza el gráfico sin destruirlo
            } else {
                // Si el gráfico no existe, lo creamos
                graficoTickets = new Chart(ctx, {
                    type: 'bar', // Cambia a 'pie' si prefieres un gráfico de pastel
                    data: {
                        labels: etiquetas,
                        datasets: [{
                            label: 'Historial de Tickets',
                            data: datos,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',  // Roja para la primera barra
                                'rgba(255, 206, 86, 0.2)',  // Amarilla para la segunda barra
                                'rgba(75, 192, 192, 0.2)',  // Verde para la tercera barra
                                'rgba(169, 169, 169, 0.2)'  // Gris para la cuarta barra
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',  // Rojo
                                'rgba(255, 206, 86, 1)',  // Amarillo
                                'rgba(75, 192, 192, 1)',  // Verde
                                'rgba(169, 169, 169, 1)'  // Gris
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,  // Evita que el gráfico se ajuste automáticamente
                        maintainAspectRatio: false, // Evita que el gráfico mantenga la relación de aspecto
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1,
                                    callback: function(value) {
                                        return Number.isInteger(value) ? value : null;  // Muestra solo enteros
                                    }
                                }
                            }
                        }
                    }
                });
            }
        }

        // Función para obtener los datos de los contadores
        function actualizarContadores() {
            return Promise.all([
                fetch('/app/dashboard/contador/total').then(response => response.json()), // Total tickets
                fetch('/app/dashboard/contador/recepcionados').then(response => response.json()), // Recepcionados
                fetch('/app/dashboard/contador/atendidos').then(response => response.json()), // Atendidos
                fetch('/app/dashboard/contador/desestimados').then(response => response.json()) // Desestimados
            ]).then(([total, recepcionados, atendidos, desestimados]) => {
                // Actualiza los contadores con los datos obtenidos
                document.getElementById("ntotalTickets").textContent = total;
                document.getElementById("ntotalRecepcionados").textContent = recepcionados;
                document.getElementById("ntotalAtendidos").textContent = atendidos;
                document.getElementById("ntotalDesestimados").textContent = desestimados;
                // Actualiza los datos del gráfico
                datos[0] = total;
                datos[1] = recepcionados;
                datos[2] = atendidos;
                datos[3] = desestimados;

                // Llama a la función para crear o actualizar el gráfico con los datos ya cargados
                crearGrafico();
            }).catch(error => {
                console.error('Error al obtener los contadores:', error);
            });
        }

        // Llamamos a la función para actualizar los contadores y luego crear el gráfico
        actualizarContadores();

        // Actualiza los contadores cada 5 segundos (5000 milisegundos)
        setInterval(actualizarContadores, 5000);
    </script>





















</main>
<div th:insert="~{common/imports :: bodyImportsAndNotification}"></div>
</body>
</html>
