table {
    width: auto; /* Permite que la tabla ajuste su ancho al contenido */
    border-collapse: collapse; /* Para un aspecto más limpio */
    table-layout: auto; /* Permite que las columnas se ajusten al contenido */
}
th, td {
    word-wrap: break-word; /* Permite que el texto largo se rompa */
    overflow-wrap: break-word; /* Soporte adicional para romper palabras largas */
}
td {
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
}
td .nombreClasificacionIncidencia{
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

.custom-notification.show {
    display: block; /* Mostrar la notificación cuando se añade la clase 'show' */
    animation: fadein 0.5s, fadeout 1s 6.5s; /* fadein dura 0.5s, fadeout comienza tras 6.5s y dura 0.5s */
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}





/* TBODY con scroll */
.table thead{
    position: sticky;
    top: 0;
}
.scroll-table{
    height: calc(100vh - 200px);
    overflow-y:auto;
}


/*COLUMNAS DE TABLAS*/
.n-table {
    width: 5%; /* Un número limitado de filas, no necesita mucho espacio */
}

.fecha-table {
    width: 15%; /* La fecha no suele ser muy larga, pero necesita espacio */
}

.hora-table {
    width: 10%; /* Similar a la fecha, el formato de hora es corto */
}

.usuario-table {
    width: 20%; /* Dependiendo del nombre, puede ser necesario más espacio */
}

.descripcion-table {
    width: 30%; /* La descripción puede ser más larga, así que se le da más espacio */
}

.adjunto-table {
    width: 10%; /* Dependiendo de cómo manejes los archivos, puede ser un icono o un texto */
}

.acciones-table {
    width: 10%; /* Generalmente contendrá botones o enlaces de acción */
}
