body {
    background-color: rgb(231, 231, 231);
    color: white;
}

.contenido-login {
    width: 400px;
    background-color: rgb(59, 59, 59);
    padding: 30px;
    border-radius: 20px;
}

.contenedor-boton {
    width: 100%;
    text-align: center;
}