<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common/imports :: headImports}">
</head>

<body>
<header th:replace="~{common/header :: header}">
</header>
<main class=" content-wrapper">
    <div class="container-fluid">
        <!-- Encabezado con título, contador y botones -->
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center flex-wrap gap-2 navegacion-desktop">
                <h2>SOPORTE<span class="title-text-mobile"> CERRADOS</span>:</h2>
                <div id="ticketCount"
                     class="badge bg-success ms-2 d-flex justify-content-center align-items-center ticketCountAtencion"
                     style="width: 30px; height: 30px;">
                    0
                </div>
                <a href="/soporte/Recepcionar" class="btn btn-outline-dark btn-sm  ">
                    Recepcionar
                </a>
                <a href="/soporte/Atender" class="btn btn-outline-dark btn-sm  ">
                    Atender
                </a>
                <a href="/soporte/Tickets-Cerrados" class="btn btn-outline-dark btn-sm  btn-active">
                    Historial Atendidos
                </a>
                <a href="/soporte/Tickets-Desestimados" class="btn btn-outline-dark btn-sm ">
                    Historial Desestimados
                </a>
                <a href="/soporte/Dashboard" class="btn btn-dark btn-sm btn-dashboard-atencion">
                    Ir a Dashboard
                </a>
            </div>
            <!-- Contenedor para los dos botones alineados a la derecha -->
            <div class="btn-filtros">
                <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                        data-bs-target="#filterModal">
                    <i class="bi bi-filter"></i> Filtrar
                </button>
                <button id="clearFilterButton" class="btn btn-outline-dark">
                    <i class="bi bi-x"></i> Eliminar Filtrado
                </button>
            </div>
        </div>

        <div class="scroll-table">
            <!--Todos los Atendidos-->
            <table id="ticketTable" class="table table-bordered table-hover w-100">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Emisor</th>
                    <th>Receptor</th>
                    <th>Soporte</th>
                    <th class="descripcion-table">Motivo de Ticket</th>
                    <th class="descripcion-table">Mensaje Recepción</th>
                    <th class="descripcion-table">Descripción Atención</th>
                    <th>Historial</th>
                </tr>
                </thead>
                <tbody id="ticketTableBody">
                <!-- Iterar sobre los tickets con un solo bucle th:each -->
                <tr th:each="detalle, iter: ${AllAtendidos}">

                    <td th:text="${iter.count}">#</td>
                    <td th:id="${detalle.ticket.id}" class="ticket-code-cell">
                        <a th:href="@{'/ticket/' + ${detalle.ticket.codigoTicket}}"
                           th:text="${detalle.ticket.codigoTicket}"
                           class="ticket-link">
                        </a>
                    </td>
                    <td class="fecha" th:text="${detalle.fechaFormateadaAtencion}">Fecha</td>
                    <td th:text="${detalle.horaFormateadaAtencion}">Hora</td>

                    <td class="usuario-emisor" th:text="${detalle.ticket.usuario.nombre}">Emisor</td>
                    <td class="usuario-receptor" th:text="${detalle.recepcion.usuario.nombre}">Receptor</td>
                    <td class="usuario-atencion" th:text="${detalle.atencion.usuario.nombre}">Soporte</td>

                    <td>
                                <span class="nombreTipoIncidencia clasificacion"
                                      th:utext="${detalle.atencion.tipoIncidencia.subCategoriaIncidencia.nombre  +  ': ' + detalle.atencion.tipoIncidencia.nombre + '<br>'}"></span>
                        <span th:text="${#strings.length(detalle.ticket.descripcion) > 150 ? detalle.ticket.descripcion.substring(0, 150) + '...' : detalle.ticket.descripcion}"></span>
                        <br>
                        <!-- Mostrar la lista de archivos adjuntos de cada ticket -->
                        <ul>
                            <li th:each="adjunto: ${detalle.ticket.listaArchivosAdjuntos}">
                                <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                                   th:text="${adjunto.nombre}">Archivo</a> -
                                <span th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                            </li>
                        </ul>
                    </td>

                    <td>
                                <span class="nombreTipoIncidencia urgencia"
                                      th:utext="${'Urgencia ' + detalle.atencion.clasificacionUrgencia.nombre + ':<br>'}"></span>
                        <span th:text="${#strings.length(detalle.recepcion.mensaje) > 150 ? detalle.recepcion.mensaje.substring(0, 150) + '...' : detalle.recepcion.mensaje}"></span>
                    </td>

                    <td>
                                <span class="nombreTipoIncidencia clasificacion-atencion"
                                      th:utext="${(detalle.atencion.areaAtencion != null ? 'Área ' +detalle.atencion.areaAtencion.nombre : 'N/D') + ' - ' + detalle.atencion.clasificacionAtencion.nombre + ':<br>'}">
                                </span>
                        <span th:text="${#strings.length(detalle.atencion.descripcion) > 150
                                                ? detalle.atencion.descripcion.substring(0, 150) + '...'
                                                : detalle.atencion.descripcion}">
                                </span>
                        <ul>
                        <li th:each="adjunto: ${detalle.atencion.listaArchivosAdjuntos}">
                            <a th:href="@{/app/tickets/adjuntoAtencion/descargar/{id}(id=${adjunto.id})}" href="#"
                               th:text="${adjunto.nombre}">Archivo</a> - <span
                                th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                        </li>
                    </ul>




                    </td>

                    <td>
                        <!-- Botón de recepción que abre el modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#atencionModal" th:data-ticket-id="${detalle.ticket.id}"
                                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                                th:data-ticket-clasificacion="${detalle.atencion.tipoIncidencia.nombre}"
                                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                                th:data-ticket-hora="${detalle.horaFormateadaTicket}"
                                th:data-recepcion-usuario="${detalle.recepcion.usuario.nombre}"
                                th:data-recepcion-mensaje="${detalle.recepcion.mensaje}"
                                th:data-recepcion-clasificacion="${detalle.atencion.clasificacionUrgencia.nombre}"
                                th:data-recepcion-fecha="${detalle.fechaFormateadaRecepcion}"
                                th:data-recepcion-hora="${detalle.horaFormateadaRecepcion}"
                                th:data-atencion-usuario="${detalle.atencion.usuario.nombre}"
                                th:data-atencion-descripcion="${detalle.atencion.descripcion}"
                                th:data-atencion-clasificacion="${detalle.atencion.clasificacionAtencion.nombre}"
                                th:data-area-clasificacion="${(detalle.atencion.areaAtencion != null ? detalle.atencion.areaAtencion.nombre : 'N/D')}"
                                th:data-atencion-fecha="${detalle.fechaFormateadaAtencion}"
                                th:data-atencion-hora="${detalle.horaFormateadaAtencion}">

                            <i class="bi bi-clock-history"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                No se ha encontrado ningún elemento.
            </div>
        </div>
        <!-- Contenedor de paginación -->
        <div id="pagination" class="mt-3 d-flex justify-content-center align-items-center">
            <button id="prevPage" class="btn btn-secondary mx-1" disabled>&lt;</button>
            <div id="paginationButtons" class="d-flex"></div>
            <button id="nextPage" class="btn btn-secondary mx-1" disabled>&gt;</button>
        </div>
    </div>

    <!-- Modal FILTRO -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar Tickets Atendidos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Filtros dentro del modal -->
                    <div class="container">
                        <div class="row g-3 align-items-center">
                            <div class="col-md-12">
                                <label for="usuarioEmisorFilter" class="form-label">Usuario Emisor:</label>
                                <input type="text" id="usuarioEmisorFilter" class="form-control"
                                       placeholder="Buscar por usuario">
                            </div>
                            <div class="col-md-12">
                                <label for="usuarioReceptorFilter" class="form-label">Usuario Receptor:</label>
                                <input type="text" id="usuarioReceptorFilter" class="form-control"
                                       placeholder="Buscar por usuario">
                            </div>
                            <div class="col-md-12">
                                <label for="usuarioAtencionFilter" class="form-label">Usuario Soporte:</label>
                                <input type="text" id="usuarioAtencionFilter" class="form-control"
                                       placeholder="Buscar por usuario">
                            </div>
                            <div class="col-md-12">
                                <label for="fechaInicioFilter" class="form-label">Fecha de Inicio:</label>
                                <input type="date" id="fechaInicioFilter" class="form-control">
                            </div>

                            <div class="col-md-12">
                                <label for="fechaFinFilter" class="form-label">Fecha de Fin:</label>
                                <input type="date" id="fechaFinFilter" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label for="clasificacionFilter" class="form-label">Clasificación Incidencia:</label>
                                <select class="form-select" id="clasificacionFilter" name="tipo_incidencia"
                                        required>
                                    <option selected disabled value="">Selecciona Incidencia</option>
                                    <option th:each="tipo : ${Lista_tipo_incidencia}" th:value="${tipo.nombre}"
                                            th:text="${tipo.nombre}"></option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="urgenciaFilter" class="form-label">Urgencia:</label>
                                <select class="form-select" id="urgenciaFilter" name="clasificacion_urgencia" required>
                                    <option selected disabled value="">Selecciona Urgencia</option>
                                    <option th:each="tipo : ${Lista_clasificacion_urgencia}" th:value="${tipo.nombre}"
                                            th:text="${tipo.nombre}"></option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="clasificacionAtencionFilter" class="form-label">Clasificacion
                                    Atención:</label>
                                <select class="form-select" id="clasificacionAtencionFilter"
                                        name="clasificacion_atencion" required>
                                    <option selected disabled value="">Selecciona Atención</option>
                                    <option th:each="tipo : ${Lista_clasificacion_atencion}" th:value="${tipo.nombre}"
                                            th:text="${tipo.nombre}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="filterButton" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="atencionModal" tabindex="-1" aria-labelledby="atencionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="atencionForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="atencionModalLabel"><i class="bi bi-clock-history"></i> HISTORIAL
                            <span id="TicketIdFormateado"></span>: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <!-- Sección del Ticket -->
                        <h5 class="mb-3 text-primary"><i class="bi bi-journal-text"></i> DETALLES DE TICKET</h5>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <th>SOLICITANTE:</th>
                                <td><span id="modalTicketUsuario"></span></td>
                            </tr>
                            <tr>
                                <th>ÁREA ATENDIDA:</th>
                                <td><span id="modalTicketArea"></span></td>
                            </tr>
                            <tr>
                                <th>INCIDENCIA:</th>
                                <td><span id="modalTicketDescripcion"></span></td>
                            </tr>
                            <tr>
                                <th>CLASIFICACIÓN:</th>
                                <td><span id="modalTicketClasificacion"></span></td>
                            </tr>
                            <tr>
                                <th>EMITIDO:</th>
                                <td><span id="modalTicketFecha"></span> | <span id="modalTicketHora"></span></td>
                            </tr>
                        </table>

                        <!-- Sección de Recepción -->
                        <h5 class="mb-3 text-primary"><i class="bi bi-inbox"></i> DETALLES DE RECEPCIÓN</h5>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <th>RECEPTOR:</th>
                                <td><span id="modalRecepcionUsuario"></span></td>
                            </tr>
                            <tr>
                                <th>MENSAJE:</th>
                                <td><span id="modalRecepcionMensaje"></span></td>
                            </tr>
                            <tr>
                                <th>CLASIFICACIÓN:</th>
                                <td><span id="modalRecepcionClasificacion"></span></td>
                            </tr>
                            <tr>
                                <th>RECEPCIONADO:</th>
                                <td><span id="modalRecepcionFecha"></span> | <span id="modalRecepcionHora"></span>
                                </td>
                            </tr>
                        </table>

                        <!-- Sección de Atencion -->
                        <h5 class="mb-3 text-primary"><i class="bi bi-wrench"></i> DETALLES DE ATENCIÓN</h5>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <th>TÉCNICO:</th>
                                <td><span id="modalAtencionUsuario"></span></td>
                            </tr>
                            <tr>
                                <th>DESCRIPCIÓN:</th>
                                <td><span id="modalAtencionDescripcion"></span></td>
                            </tr>
                            <tr>
                                <th>CLASIFICACIÓN:</th>
                                <td><span id="modalAtencionClasificacion"></span></td>
                            </tr>
                            <tr>
                                <th>ATENDIDO:</th>
                                <td><span id="modalAtencionFecha"></span> | <span id="modalAtencionHora"></span>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Al abrir el modal, actualizar su contenido con los datos del ticket seleccionado
        const atencionModal = document.getElementById('atencionModal');
        atencionModal.addEventListener('show.bs.modal', function (event) {
            // Botón que disparó el modal
            const button = event.relatedTarget;

            // Extraer información del ticket desde los atributos data-*
            const ticketId = button.getAttribute('data-ticket-id');
            const formattedTicketId = 'TK-' + ticketId.toString().padStart(4, '0');
            const ticketUsuario = button.getAttribute('data-ticket-usuario');
            const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
            const ticketClasificacion = button.getAttribute('data-ticket-clasificacion');
            const ticketArea = button.getAttribute('data-area-clasificacion');
            const ticketFase = button.getAttribute('data-ticket-fase');
            const ticketFecha = button.getAttribute('data-ticket-fecha');
            const ticketHora = button.getAttribute('data-ticket-hora');

            const recepcionUsuario = button.getAttribute('data-recepcion-usuario');
            const recepcionMensaje = button.getAttribute('data-recepcion-mensaje');
            const recepcionClasificacion = button.getAttribute('data-recepcion-clasificacion');
            const recepcionFecha = button.getAttribute('data-recepcion-fecha');
            const recepcionHora = button.getAttribute('data-recepcion-hora');

            const atencionUsuario = button.getAttribute('data-atencion-usuario');
            const atencionDescripcion = button.getAttribute('data-atencion-descripcion');
            const atencionClasificacion = button.getAttribute('data-atencion-clasificacion');
            const atencionFecha = button.getAttribute('data-atencion-fecha');
            const atencionHora = button.getAttribute('data-atencion-hora');

            // Actualizar los elementos del modal con la información del ticket
            document.getElementById('TicketIdFormateado').textContent = formattedTicketId;
            document.getElementById('modalTicketUsuario').textContent = ticketUsuario;
            document.getElementById('modalTicketDescripcion').textContent = ticketDescripcion;
            document.getElementById('modalTicketClasificacion').textContent = ticketClasificacion;
            document.getElementById('modalTicketArea').textContent = ticketArea;
            document.getElementById('modalTicketFecha').textContent = ticketFecha;
            document.getElementById('modalTicketHora').textContent = ticketHora;

            // Actualizar los elementos del modal con la información de recepción
            document.getElementById('modalRecepcionUsuario').textContent = recepcionUsuario;
            document.getElementById('modalRecepcionMensaje').textContent = recepcionMensaje;
            document.getElementById('modalRecepcionClasificacion').textContent = recepcionClasificacion;
            document.getElementById('modalRecepcionFecha').textContent = recepcionFecha;
            document.getElementById('modalRecepcionHora').textContent = recepcionHora;

            // Actualizar los elementos del modal con la información de atencion
            document.getElementById('modalAtencionUsuario').textContent = atencionUsuario;
            document.getElementById('modalAtencionDescripcion').textContent = atencionDescripcion;
            document.getElementById('modalAtencionClasificacion').textContent = atencionClasificacion;
            document.getElementById('modalAtencionFecha').textContent = atencionFecha;
            document.getElementById('modalAtencionHora').textContent = atencionHora;
        });
    </script>

</main>


<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>
<div th:insert="~{common/footer :: footer}">
</div>
</body>

</html>