<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common/imports :: headImports}">
</head>

<body>

    <header th:replace="~{common/header :: header}">
    </header>

    <div class="container-fluid">
        <!-- Encabezado con título y botones -->
        <div class="d-flex justify-content-between align-items-center">
            <!-- Contenedor para agrupar el título y el contador -->
            <div class="d-flex align-items-center">
                <h2>SOPORTE: Recepcionar Tickets</h2>
                <div id="ticketCount"
                    class="badge bg-danger ms-2 border d-flex justify-content-center align-items-center"
                    style="width: 30px; height: 30px;">
                    0
                </div>
                <!-- Botón con estilo de Bootstrap -->
                <a href="/soporte/Dashboard" class="btn btn-dark" role="button" style="margin-left:15px">
                    Ir a Dashboard
                </a>

            </div>
            <!-- Contenedor para los dos botones alineados a la derecha -->
            <div>
                <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                    data-bs-target="#filterModal">
                    <i class="bi bi-filter"></i>
                    Filtrar
                </button>
                <button id="clearFilterButton" class="btn btn-outline-dark">
                    <i class="bi bi-x"></i>
                    Eliminar Filtrado
                </button>
            </div>
        </div>


        <div class="scroll-table">
            <table id="ticketTable" class="table table-bordered table-hover w-100">
                <thead class="table-dark">
                    <tr>
                        <th class="n-table">N°</th>
                        <th class="n-table">Código</th>
                        <th class="fecha-table">Fecha</th>
                        <th class="hora-table">Hora</th>
                        <th class="usuario-table">Usuario Emisor</th>
                        <th class="descripcion-table">Motivo de Ticket</th>
                        <th class="adjunto-table">Adjunto</th>
                        <th class="acciones-table">Recepcionar</th>
                    </tr>
                </thead>
                <tbody id="ticketTableBody">
                    <tr th:each="ticket, iter: ${AllTickets}">
                        <td th:text="${iter.count}">#</td>
                        <td th:text="${ticket.idFormateado}">#</td>
                        <td class="fecha" th:text="${ticket.fechaFormateada}">Fecha</td>
                        <td th:text="${ticket.horaFormateada}">Hora</td>
                        <td class="usuario-emisor" th:text="${ticket.usuario.nombre}">Usuario Emisor</td>
                        <td>
                            <span class="nombreClasificacionIncidencia clasificacion"
                                th:utext="${ticket.clasificacionIncidencia.nombre + ':<br>'}"></span>
                            <span
                                th:text="${#strings.length(ticket.descripcion) > 150 ? ticket.descripcion.substring(0, 150) + '...' : ticket.descripcion}"></span><br>
                        </td>
                        <td>
                            <ul>
                                <li th:each="adjunto: ${ticket.listaArchivosAdjuntos}">
                                    <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                                        th:text="${adjunto.nombre}">Archivo</a> - <span
                                        th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                                </li>
                            </ul>
                        </td>
                        <td class="td-accion">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#recepcionModal" th:data-ticket-id="${ticket.id}"
                                th:data-ticket-usuario="${ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${ticket.descripcion}"
                                th:data-ticket-clasificacion="${ticket.clasificacionIncidencia.nombre}"
                                th:data-ticket-fase="${ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${ticket.fechaFormateada}"
                                th:data-ticket-hora="${ticket.horaFormateada}">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#redireccionModal" th:data-ticket-id="${ticket.id}"
                                th:data-ticket-usuario="${ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${ticket.descripcion}"
                                th:data-ticket-clasificacion="${ticket.clasificacionIncidencia.nombre}"
                                th:data-ticket-fase="${ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${ticket.fechaFormateada}"
                                th:data-ticket-hora="${ticket.horaFormateada}" onclick="fillRedirectModal(this)">
                                <i class="bi bi-send"></i>
                            </button>

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#desestimacionModal" th:data-ticket-id="${ticket.id}"
                                th:data-ticket-usuario="${ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${ticket.descripcion}"
                                th:data-ticket-clasificacion="${ticket.clasificacionIncidencia.nombre}"
                                th:data-ticket-fase="${ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${ticket.fechaFormateada}"
                                th:data-ticket-hora="${ticket.horaFormateada}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                No se ha encontrado ningún elemento.
            </div>
        </div>
        <!-- Contenedor de paginación -->
        <div id="pagination" class="mt-3 d-flex justify-content-center align-items-center">
            <button id="prevPage" class="btn btn-secondary mx-1" disabled>&lt;</button>
            <div id="paginationButtons" class="d-flex"></div>
            <button id="nextPage" class="btn btn-secondary mx-1" disabled>&gt;</button>
        </div>
    </div>
    <!--Redireccion a direccion-->
    <script>
        function confirmRedirect(button) {
            const ticketId = button.getAttribute('data-ticket-id');
            Swal.fire({
                title: 'Confirmación',
                text: "¿Está seguro de enviar el ticket a Dirección?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, enviar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/app/tickets/RedirigirADireccion/` + ticketId, {
                        method: 'POST'
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = "/soporte/Recibidos";
                            } else {
                                Swal.fire('Error', 'Error al redirigir el ticket a Dirección.', 'error');
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                            Swal.fire('Error', 'Hubo un problema al redirigir el ticket.', 'error');
                        });
                }
            });
        }

    </script>

    <!-- Modal FILTRO -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar Tickets Recibidos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Filtros dentro del modal -->
                    <div class="container">
                        <div class="row g-3 align-items-center">
                            <div class="col-md-12">
                                <label for="usuarioEmisorFilter" class="form-label">Usuario:</label>
                                <input type="text" id="usuarioEmisorFilter" class="form-control"
                                    placeholder="Buscar por usuario" autocomplete="off">
                            </div>

                            <div class="col-md-12">
                                <label for="fechaFilter" class="form-label">Fecha:</label>
                                <input type="date" id="fechaFilter" class="form-control">
                            </div>

                            <div class="col-md-12">
                                <label for="clasificacionFilter" class="form-label">Clasificación:</label>
                                <select class="form-select" id="clasificacionFilter" name="clasificacion_incidencia"
                                    required>
                                    <option selected disabled value="">Selecciona Incidencia</option>
                                    <option th:each="tipo : ${Lista_clasificacion_incidencia}" th:value="${tipo.nombre}"
                                        th:text="${tipo.nombre}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="filterButton" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para Recepción -->
    <div class="modal fade" id="recepcionModal" tabindex="-1" aria-labelledby="recepcionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="recepcionForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="recepcionModalLabel">Recepción del Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE TICKET</strong></p>
                        <p><strong>ID del Ticket:</strong> <span id="modalTicketId"></span></p>
                        <p><strong>Usuario:</strong> <span id="modalTicketUsuario"></span></p>
                        <p><strong>Clasificación:</strong> <span id="modalTicketClasificacion"></span></p>
                        <p><strong>Descripción:</strong> <span id="modalTicketDescripcion"></span></p>
                        <p><strong>Fecha:</strong> <span id="modalTicketFecha"></span> | <span
                                id="modalTicketHora"></span>
                        </p>
                        <!-- Campo adicional para comentarios de recepción o cambios -->
                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE LA RECEPCIÓN</strong></p>
                        <div class="mb-3">
                            <label for="comentariosRecepcion" class="form-label">Comentarios de Recepción</label>
                            <textarea class="form-control" id="comentariosRecepcion" name="mensaje" rows="4"
                                placeholder="Agrega algún comentario sobre la recepción del ticket..." required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="clasificacionUrgencia" class="form-label">Clasificación de Urgencia</label>
                            <select class="form-select" id="clasificacionUrgencia" name="clasificacion_urgencia"
                                required>
                                <option selected disabled value="">Selecciona Urgencia</option>
                                <option th:each="tipo : ${Lista_clasificacion_urgencia}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Recepción</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Al abrir el modal, actualizar su contenido con los datos del ticket seleccionado
        const recepcionModal = document.getElementById('recepcionModal');
        recepcionModal.addEventListener('show.bs.modal', function (event) {
            // Botón que disparó el modal
            const button = event.relatedTarget;

            // Extraer información del ticket desde los atributos data-*
            const ticketId = button.getAttribute('data-ticket-id');
            const ticketUsuario = button.getAttribute('data-ticket-usuario');
            const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
            const ticketClasificacion = button.getAttribute('data-ticket-clasificacion');
            const ticketFase = button.getAttribute('data-ticket-fase');
            const ticketFecha = button.getAttribute('data-ticket-fecha');
            const ticketHora = button.getAttribute('data-ticket-hora');

            // Actualizar los elementos del modal con la información del ticket
            document.getElementById('modalTicketId').textContent = ticketId;
            document.getElementById('modalTicketUsuario').textContent = ticketUsuario;
            document.getElementById('modalTicketDescripcion').textContent = ticketDescripcion;
            document.getElementById('modalTicketClasificacion').textContent = ticketClasificacion;
            document.getElementById('modalTicketFecha').textContent = ticketFecha;
            document.getElementById('modalTicketHora').textContent = ticketHora;

            // Actualizar la acción del formulario para que envíe el ticket correspondiente
            const form = document.getElementById('recepcionForm');
            form.setAttribute('action', `/app/tickets/recepcion/${ticketId}`);
        });
    </script>


    <!-- Modal para Desestimación -->
    <div class="modal fade" id="desestimacionModal" tabindex="-1" aria-labelledby="desestimacionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="desestimacionForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="desestimacionModalLabel">Desestimación del Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE TICKET</strong></p>
                        <p><strong>ID del Ticket:</strong> <span id="desestimacionTicketId"></span></p>
                        <p><strong>Usuario:</strong> <span id="desestimacionTicketUsuario"></span></p>
                        <p><strong>Clasificación:</strong> <span id="desestimacionTicketClasificacion"></span></p>
                        <p><strong>Descripción:</strong> <span id="desestimacionTicketDescripcion"></span></p>
                        <p><strong>Fecha:</strong> <span id="desestimacionTicketFecha"></span> | <span
                                id="desestimacionTicketHora"></span></p>

                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE DESESTIMACIÓN</strong></p>
                        <!-- Campo adicional para comentarios de desestimación -->
                        <div class="mb-3">
                            <label for="comentariosDesestimacion" class="form-label">Comentarios de
                                Desestimación</label>
                            <textarea class="form-control" id="comentariosDesestimacion" name="mensaje" rows="4"
                                placeholder="Agrega algún comentario sobre la desestimación del ticket..."></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="clasificacionUrgencia" class="form-label">Clasificación de Desestimacion</label>
                            <select class="form-select" id="clasificacionDesestimacion"
                                name="clasificacion_desestimacion" required>
                                <option selected disabled value="">Selecciona Desestimacion</option>
                                <option th:each="tipo : ${Lista_clasificacion_desestimacion}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Desestimar Ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        // Al abrir el modal de desestimación, actualizar su contenido con los datos del ticket seleccionado
        const desestimacionModal = document.getElementById('desestimacionModal');
        desestimacionModal.addEventListener('show.bs.modal', function (event) {
            // Botón que disparó el modal
            const button = event.relatedTarget;

            // Extraer información del ticket desde los atributos data-*
            const ticketId = button.getAttribute('data-ticket-id');
            const ticketUsuario = button.getAttribute('data-ticket-usuario');
            const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
            const ticketClasificacion = button.getAttribute('data-ticket-clasificacion');
            const ticketFecha = button.getAttribute('data-ticket-fecha');
            const ticketHora = button.getAttribute('data-ticket-hora');

            // Actualizar los elementos del modal con la información del ticket
            document.getElementById('desestimacionTicketId').textContent = ticketId;
            document.getElementById('desestimacionTicketUsuario').textContent = ticketUsuario;
            document.getElementById('desestimacionTicketDescripcion').textContent = ticketDescripcion;
            document.getElementById('desestimacionTicketClasificacion').textContent = ticketClasificacion;
            document.getElementById('desestimacionTicketFecha').textContent = ticketFecha;
            document.getElementById('desestimacionTicketHora').textContent = ticketHora;

            // Actualizar la acción del formulario para que envíe el ticket correspondiente
            const form = document.getElementById('desestimacionForm');
            form.setAttribute('action', `/app/tickets/desestimacion/${ticketId}`);
        });
    </script>

    <!-- Modal para Redirección -->
    <div class="modal fade" id="redireccionModal" tabindex="-1" aria-labelledby="redireccionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md"> <!-- Aumentar tamaño si es necesario -->
            <div class="modal-content">
                <form id="redireccionForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="redireccionModalLabel">Redireccionar Ticket a Dirección</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE TICKET</strong></p>
                        <p><strong>ID del Ticket:</strong> <span id="redireccionTicketId"></span></p>
                        <p><strong>Usuario:</strong> <span id="redireccionTicketUsuario"></span></p>
                        <p><strong>Clasificación:</strong> <span id="redireccionTicketClasificacion"></span></p>
                        <p><strong>Descripción:</strong> <span id="redireccionTicketDescripcion"></span></p>
                        <p><strong>Fecha:</strong> <span id="redireccionTicketFecha"></span> |
                            <span id="redireccionTicketHora"></span>
                        </p>
                        <hr>
                        <p style="text-align:center;"><strong>DETALLES DE REDIRECCIÓN</strong></p>
                        <!-- Componentes y cantidades -->
                        <div id="componentesContainer">
                            <div class="row mb-2 align-items-center componente-fila">
                                <div class="col-md-7">
                                    <select class="form-select componente-select" name="componentes[]" required>
                                        <option selected disabled value="">Selecciona un componente</option>
                                        <option th:each="componente : ${Lista_tipo_componentes}" th:value="${componente.id}" th:text="${componente.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control cantidad-input" name="cantidades[]" min="1" placeholder="1" value="1" required>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-danger" onclick="eliminarFila(this)">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Plantilla oculta para el select -->
                        <div id="templateSelect" style="display: none;">
                            <select class="form-select componente-select" name="componentes[]" required>
                                <option selected disabled value="">Selecciona un componente</option>
                                <option th:each="componente : ${Lista_tipo_componentes}"
                                        th:value="${componente.id}"
                                        th:text="${componente.nombre}">
                                </option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-secondary mt-2" onclick="agregarFila()">Agregar Componente</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="submitRedireccionForm()">Redirigir</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script>
        function submitRedireccionForm() {
            const ticketId = document.getElementById('redireccionTicketId').innerText;

            if (!ticketId) {
                alert('Error: No se encontró el ID del ticket.');
                return;
            }

            const componentes = [];
            const cantidades = [];

            // Recolectar los datos de los componentes y cantidades
            const filas = document.querySelectorAll('#componentesContainer .row'); // Selecciona todas las filas
            filas.forEach(fila => {
                const componenteSelect = fila.querySelector('.componente-select');
                const cantidadInput = fila.querySelector('.cantidad-input');

                if (componenteSelect && cantidadInput) {
                    const componenteId = componenteSelect.value;
                    const cantidad = cantidadInput.value;

                    if (componenteId && cantidad) {
                        componentes.push(componenteId);
                        cantidades.push(cantidad);
                    }
                }
            });


            filas.forEach((fila, index) => {
    console.log(`Fila ${index}:`, fila);
});


            if (componentes.length === 0 || cantidades.length === 0) {
                alert('Debes agregar al menos un componente y su cantidad.');
                return;
            }

            console.log('Componentes:', componentes); // Depuración
            console.log('Cantidades:', cantidades); // Depuración

            // Crear el objeto a enviar
            const datos = {
                ticketId,
                componentes,
                cantidades
            };

            // Enviar los datos al backend
            fetch(`/app/tickets/RedirigirADireccion/${ticketId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datos)
            })
                .then(response => {
                    if (response.ok) {
                        alert('Ticket redirigido correctamente.');
                        window.location.reload();
                    } else {
                        alert('Error al redirigir el ticket.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error inesperado.');
                });
        }


function agregarFila() {
    const container = document.getElementById('componentesContainer');
    const templateSelect = document.getElementById('templateSelect');

    if (!templateSelect) {
        console.error("No se encontró el elemento 'templateSelect'.");
        alert("Ocurrió un error al intentar agregar un nuevo componente.");
        return;
    }

    const nuevaFila = document.createElement('div');
    nuevaFila.classList.add('row', 'mb-2', 'align-items-center', 'componente-fila'); // Asegura la clase componente-fila
    nuevaFila.innerHTML = `
        <div class="col-md-7">
            ${templateSelect.innerHTML} <!-- Usar el select ya procesado -->
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control cantidad-input" name="cantidades[]" min="1" placeholder="1" value="1" required>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" onclick="eliminarFila(this)">
                <i class="bi bi-x"></i>
            </button>
        </div>
    `;
    container.appendChild(nuevaFila);
}




    function eliminarFila(button) {
        const fila = button.parentElement.parentElement;
        fila.remove();
    }
    </script>


    <script>
        function fillRedirectModal(button) {
            // Extraer los datos del botón
            const ticketId = button.getAttribute('data-ticket-id');
            const usuario = button.getAttribute('data-ticket-usuario');
            const descripcion = button.getAttribute('data-ticket-descripcion');
            const clasificacion = button.getAttribute('data-ticket-clasificacion');
            const fecha = button.getAttribute('data-ticket-fecha');
            const hora = button.getAttribute('data-ticket-hora');

            // Llenar el modal de redirección con los datos extraídos
            document.getElementById('redireccionTicketId').innerText = ticketId;
            document.getElementById('redireccionTicketUsuario').innerText = usuario;
            document.getElementById('redireccionTicketDescripcion').innerText = descripcion;
            document.getElementById('redireccionTicketClasificacion').innerText = clasificacion;
            document.getElementById('redireccionTicketFecha').innerText = fecha;
            document.getElementById('redireccionTicketHora').innerText = hora;
        }

    </script>

    <div th:insert="~{common/imports :: bodyImportsAndNotification}">
    </div>

</body>

</html>