<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common/imports :: headImports}">
</head>

<body>

<header th:replace="~{common/header :: header}">
</header>

<div class="container-fluid  content-wrapper">
    <!-- Encabezado con título y botones -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center flex-wrap gap-2 navegacion-desktop">
            <h2 class="me-2">SOPORTE<span class="title-text-mobile"> RECEPCIONAR</span>:</h2>
            <div id="ticketCount"
                 class="badge bg-danger border d-flex justify-content-center align-items-center ticketCountAtencion"
                 style="width: 30px; height: 30px;">
                0
            </div>

            <a href="/soporte/Recepcionar" class="btn btn-outline-dark btn-sm  btn-active">
                Recepcionar
            </a>
            <a href="/soporte/Atender" class="btn btn-outline-dark btn-sm ">
                Atender
            </a>
            <a href="/soporte/Tickets-Cerrados" class="btn btn-outline-dark btn-sm ">
                Historial Atendidos
            </a>
            <a href="/soporte/Tickets-Desestimados" class="btn btn-outline-dark btn-sm ">
                Historial Desestimados
            </a>
            <a href="/soporte/Dashboard" class="btn btn-dark btn-sm btn-dashboard-atencion">
                Ir a Dashboard
            </a>
        </div>

        <!-- Contenedor para los dos botones alineados a la derecha -->
        <div class="btn-filtros">
            <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                    data-bs-target="#filterModal">
                <i class="bi bi-filter"></i>
                Filtrar
            </button>
            <button id="clearFilterButton" class="btn btn-outline-dark">
                <i class="bi bi-x"></i>
                Eliminar Filtrado
            </button>
        </div>
    </div>


    <div class="scroll-table">
        <table id="ticketTable" class="table table-bordered table-hover w-100">
            <thead class="table-dark">
            <tr>
                <th class="n-table">N°</th>
                <th>Código</th>
                <th class="fecha-table">Fecha</th>
                <th class="hora-table">Hora</th>
                <th class="usuario-table">Usuario Emisor</th>
                <th class="descripcion-table">Motivo de Ticket</th>
                <th class="adjunto-table">Adjunto</th>
                <th class="acciones-table">Recepcionar</th>
            </tr>
            </thead>
            <tbody id="ticketTableBody">
            <tr th:each="detalle, iter: ${AllTickets}" id="ticket-${ticket.id}">
                <td th:text="${iter.count}">#</td>
                <td th:id="${detalle.ticket.id}" class="ticket-code-cell" >
                    <a th:href="@{'/ticket/' + ${detalle.ticket.codigoTicket}}"
                       th:text="${detalle.ticket.codigoTicket}"
                       class="ticket-link">
                    </a>
                </td>                <td class="fecha" th:text="${detalle.fechaFormateadaTicket}">Fecha</td>
                <td th:text="${detalle.horaFormateadaTicket}">Hora</td>
                <td class="usuario-emisor" th:text="${detalle.ticket.usuario.nombre}">Usuario Emisor</td>
                <td>
                    <span th:text="${#strings.length(detalle.ticket.descripcion) > 150 ? detalle.ticket.descripcion.substring(0, 150) + '...' : detalle.ticket.descripcion}"></span><br>

                </td>
                <td>
                    <ul>
                        <li th:each="adjunto: ${detalle.ticket.listaArchivosAdjuntos}">
                            <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                               th:text="${adjunto.nombre}">Archivo</a> - <span
                                th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                        </li>
                    </ul>
                </td>
                <td class="td-accion">
                    <div class="d-flex gap-1">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#recepcionModal" th:data-ticket-id="${detalle.ticket.id}"
                                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                                th:data-ticket-hora="${detalle.horaFormateadaTicket}">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#desestimacionModal" th:data-ticket-id="${detalle.ticket.id}"
                                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                                th:data-ticket-hora="${detalle.horaFormateadaTicket}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
            No se ha encontrado ningún elemento.
        </div>
    </div>
    <!-- Contenedor de paginación -->
    <div id="pagination" class="mt-3 d-flex justify-content-center align-items-center">
        <button id="prevPage" class="btn btn-secondary mx-1" disabled>&lt;</button>
        <div id="paginationButtons" class="d-flex"></div>
        <button id="nextPage" class="btn btn-secondary mx-1" disabled>&gt;</button>
    </div>
</div>

<!-- Modal FILTRO -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filtrar Tickets Recibidos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Filtros dentro del modal -->
                <div class="container">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-12">
                            <label for="usuarioEmisorFilter" class="form-label">Usuario:</label>
                            <input type="text" id="usuarioEmisorFilter" class="form-control"
                                   placeholder="Buscar por usuario" autocomplete="off">
                        </div>
                        <div class="col-md-12">
                            <label for="fechaInicioFilter" class="form-label">Fecha de Inicio:</label>
                            <input type="date" id="fechaInicioFilter" class="form-control">
                        </div>

                        <div class="col-md-12">
                            <label for="fechaFinFilter" class="form-label">Fecha de Fin:</label>
                            <input type="date" id="fechaFinFilter" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="filterButton" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Recepción -->
<div class="modal fade" id="recepcionModal" tabindex="-1" aria-labelledby="recepcionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="recepcionForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="recepcionModalLabel"><i class="bi bi-ticket-detailed"></i>
                        Recepción <span id="modalTicketIdFormateado"></span>:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="mb-3 text-secondary">
                            <p><strong>USUARIO:</strong> <span id="modalTicketUsuario"></span></p>
                            <p><strong>DESCRIPCIÓN:</strong> <span id="modalTicketDescripcion"></span></p>
                        </div>
                        <div class="mb-3">
                            <label for="comentariosRecepcion" class="form-label"><strong><i
                                    class="bi bi-chat-left-text"></i> COMENTARIOS DE RECEPCIÓN:</strong></label>
                            <textarea class="form-control" id="comentariosRecepcion" name="mensaje" rows="4"
                                      placeholder="Agrega algún comentario sobre la recepción del ticket..."
                                      required>Por favor, espere un momento. Un técnico se dirigirá a su área en breve para atender su caso.</textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar Recepción</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Al abrir el modal, actualizar su contenido con los datos del ticket seleccionado
    const recepcionModal = document.getElementById('recepcionModal');
    recepcionModal.addEventListener('show.bs.modal', function (event) {
        // Botón que disparó el modal
        const button = event.relatedTarget;

        // Extraer información del ticket desde los atributos data-*
        const ticketId = button.getAttribute('data-ticket-id');
        const formattedTicketId = 'TK-' + ticketId.toString().padStart(4, '0');

        const ticketUsuario = button.getAttribute('data-ticket-usuario');
        const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
        const ticketFase = button.getAttribute('data-ticket-fase');
        const ticketFecha = button.getAttribute('data-ticket-fecha');
        const ticketHora = button.getAttribute('data-ticket-hora');

        // Actualizar los elementos del modal con la información del ticket
        document.getElementById('modalTicketIdFormateado').textContent = formattedTicketId;
        document.getElementById('modalTicketUsuario').textContent = ticketUsuario;
        document.getElementById('modalTicketDescripcion').textContent = ticketDescripcion;

        // Actualizar la acción del formulario para que envíe el ticket correspondiente
        const form = document.getElementById('recepcionForm');
        form.setAttribute('action', `/app/tickets/recepcion/${ticketId}`);
    });
</script>


<!-- Modal para Desestimación -->
<div class="modal fade" id="desestimacionModal" tabindex="-1" aria-labelledby="desestimacionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="desestimacionForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="desestimacionModalLabel"><i class="bi bi-trash"></i>
                        Desestimación <span id="desestimacionTicketIdFormateado"></span>:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3 text-secondary">
                        <p><strong>USUARIO:</strong> <span id="desestimacionTicketUsuario"></span></p>
                        <p><strong>DESCRIPCIÓN:</strong> <span id="desestimacionTicketDescripcion"></span></p>
                    </div>
                    <div class="mb-3">
                        <label for="comentariosDesestimacion" class="form-label"><strong><i
                                class="bi bi-chat-left-text"></i> COMENTARIOS DE DESESTIMACIÓN</strong></label>
                        <textarea class="form-control" id="comentariosDesestimacion" name="mensaje" rows="4"
                                  placeholder="Agrega algún comentario sobre la desestimación del ticket..."
                                  required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="clasificacionDesestimacion" class="form-label"><strong><i
                                class="bi bi-slash-circle"></i> CLASIFICACIÓN DE DESESTIMACIÓN</strong></label>
                        <select class="form-select" id="clasificacionDesestimacion"
                                name="clasificacion_desestimacion" required>
                            <option selected disabled value="">Selecciona Desestimacion</option>
                            <option th:each="tipo : ${Lista_clasificacion_desestimacion}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                        </select>
                    </div>
                    <input type="number" value="1" style="display:none" name="fase">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger submit-btn">Desestimar Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // Al abrir el modal de desestimación, actualizar su contenido con los datos del ticket seleccionado
    const desestimacionModal = document.getElementById('desestimacionModal');
    desestimacionModal.addEventListener('show.bs.modal', function (event) {
        // Botón que disparó el modal
        const button = event.relatedTarget;

        // Extraer información del ticket desde los atributos data-*
        const ticketId = button.getAttribute('data-ticket-id');
        const formattedTicketId = 'TK-' + ticketId.toString().padStart(4, '0');
        const ticketUsuario = button.getAttribute('data-ticket-usuario');
        const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
        const ticketFecha = button.getAttribute('data-ticket-fecha');
        const ticketHora = button.getAttribute('data-ticket-hora');

        // Actualizar los elementos del modal con la información del ticket
        document.getElementById('desestimacionTicketIdFormateado').textContent = formattedTicketId;
        document.getElementById('desestimacionTicketUsuario').textContent = ticketUsuario;
        document.getElementById('desestimacionTicketDescripcion').textContent = ticketDescripcion;


        // Actualizar la acción del formulario para que envíe el ticket correspondiente
        const form = document.getElementById('desestimacionForm');
        form.setAttribute('action', `/app/tickets/desestimacion/${ticketId}`);
    });
</script>


<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>
<div th:insert="~{common/footer :: footer}">
</div>
</body>

</html>