<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<header th:replace="~{common/header :: header}">
</header>
<main>
    <div class="container content-wrapper">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-wrap align-items-center gap-2 navegacion-desktop">
                <h2 class="me-3"><i class="bi bi-check-circle text-info"></i> TICKETS<span class="title-text-mobile"> ATENDIDOS</span>:</h2>
                <a href="/inicio" class="btn btn-outline-dark btn-sm">Enviados</a>
                <a href="/TicketsEnProceso" class="btn btn-outline-dark btn-sm">En Proceso</a>
                <a href="/TicketsAtendidos" class="btn btn-outline-dark btn-sm btn-active">Atendidos</a>
                <a href="/TicketsDesestimados" class="btn btn-outline-dark btn-sm">Desestimados</a>
            </div>

            <!-- Contenedor para los dos botones alineados a la derecha -->
            <div class="btn-filtros">
                <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                        data-bs-target="#filterModal">
                    <i class="bi bi-filter"></i>
                    Filtrar
                </button>
                <button id="clearFilterButton" class="btn btn-outline-dark ">
                    <i class="bi bi-x"></i>
                    Eliminar Filtrado
                </button>
            </div>
        </div>
        <!--MIS TICKETS-->
        <div class="scroll-table">
            <table id="ticketTable" class="table table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Código</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th class="descripcion-table">Descripción de Incidencia</th>
                    <th class="descripcion-table">Descripción Atención</th>
                    <th>Fase</th>
                </tr>
                </thead>
                <tbody id="ticketTableBody">
                <!-- Iterar sobre los tickets con un solo bucle th:each -->
                <tr th:each="detalle, iter: ${MyAtendidos}">
                    <td th:text="${iter.count}">#</td>
                    <td th:id="${detalle.ticket.id}" class="ticket-code-cell" >
                        <a th:href="@{'/ticket/' + ${detalle.ticket.codigoTicket}}"
                           th:text="${detalle.ticket.codigoTicket}"
                           class="ticket-link">
                        </a>
                    </td>
                    <td class="fecha" th:text="${detalle.fechaFormateadaAtencion}">Fecha</td>
                    <td th:text="${detalle.horaFormateadaAtencion}">Hora</td>
                    <td>
                        <span sec:authorize="hasAnyAuthority('Admin','Soporte')"  class="nombreTipoIncidencia" th:utext="${detalle.atencion.tipoIncidencia.subCategoriaIncidencia.nombre  +  ': ' + detalle.atencion.tipoIncidencia.nombre + '<br>'}"></span>
                        <span th:text="${detalle.ticket.descripcion}"></span><br>
                        <ul>
                            <li th:each="adjunto: ${detalle.ticket.listaArchivosAdjuntos}">
                                <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                                   th:text="${adjunto.nombre}">Archivo</a> - <span
                                    th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span sec:authorize="hasAnyAuthority('Admin','Soporte')" class="nombreTipoIncidencia" th:utext="${detalle.atencion.clasificacionAtencion.nombre + ':<br>'}"></span>
                        <span th:text="${detalle.atencion.descripcion}"></span><br>
                    </td>
                    <td th:text="${detalle.ticket.faseTicket.nombre}">Fase</td>
                </tr>
                </tbody>
            </table>
            <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                No se ha encontrado ningún elemento.
            </div>
        </div>
        <!-- Contenedor de paginación -->
        <div id="pagination" class="mt-3 d-flex justify-content-center align-items-center">
            <button id="prevPage" class="btn btn-secondary mx-1" disabled>&lt;</button>
            <div id="paginationButtons" class="d-flex"></div>
            <button id="nextPage" class="btn btn-secondary mx-1" disabled>&gt;</button>
        </div>
    </div>

    <!-- Modal FILTRO -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar mis Tickets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Filtros dentro del modal -->
                    <div class="container">
                        <div class="row g-3 align-items-center">


                            <div class="row g-3 align-items-center">
                                <div class="col-md-12">
                                    <label for="fechaInicioFilter" class="form-label">Fecha de Inicio:</label>
                                    <input type="date" id="fechaInicioFilter" class="form-control">
                                </div>

                                <div class="col-md-12">
                                    <label for="fechaFinFilter" class="form-label">Fecha de Fin:</label>
                                    <input type="date" id="fechaFinFilter" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="filterButton" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</main>



<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>
<div th:insert="~{common/footer :: footer}">
</div>
</body>
</html>