<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<header th:replace="~{common/header :: header}">
</header>

<main class="content-wrapper">
    <div class="container ">
        <div class="d-flex align-items-center">
            <h2><i class="bi bi-hourglass-split text-warning"></i> TICKETS EN PROCESO:</h2>
            <a href="/inicio" class="btn btn-outline-dark btn-dashboard-atencion" style="margin-left:10px">
                <i class="bi bi-arrow-left"></i>
            </a>
            <a href="/TicketsAtendidos" class="btn btn-outline-dark btn-dashboard-atencion" style="margin-left:10px">
                Ver Atendidos <i class="bi bi-arrow-right"></i>
            </a>
        </div>

        <div class="table-responsive">
            <table id="ticketTable" class="table table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th class="n-table">Código</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th style="width:300px">Descripción de Incidencia</th>
                    <th>Mensaje Recepción</th>
                    <th>Fase</th>
                </tr>
                </thead>
                <tbody id="ticketTableBody">
                <!-- Iterar sobre los tickets con un solo bucle th:each -->
                <tr th:each="detalle, iter: ${MyRecepcionados}">
                    <td th:text="${iter.count}">#</td>
                    <td th:id="${detalle.ticket.id}" th:text="${detalle.ticket.codigoTicket}">#</td>
                    <td th:text="${detalle.fechaFormateadaRecepcion}">Fecha</td>
                    <td th:text="${detalle.horaFormateadaRecepcion}">Hora</td>
                    <td>
                        <span th:text="${detalle.ticket.descripcion}"></span><br>
                        <ul>
                            <li th:each="adjunto: ${detalle.ticket.listaArchivosAdjuntos}">
                                <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                                   th:text="${adjunto.nombre}">Archivo</a> - <span
                                    th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span th:text="${#strings.length(detalle.recepcion.mensaje) > 150 ? detalle.recepcion.mensaje.substring(0, 150) + '...' : detalle.recepcion.mensaje}"></span><br>
                    </td>
                    <td th:text="${detalle.ticket.faseTicket.nombre}">Fase</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
            No se ha encontrado ningún elemento.
        </div>
    </div>


</main>
<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>
<div th:insert="~{common/footer :: footer}">
</div>
</body>
</html>