<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="~{common/imports :: headImports}">
    <title th:text="${titulo}">HelpDesk | Ticket</title>
</head>

<body>
<header th:replace="~{common/header :: header}"></header>


<div class="container content-wrapper">
    <!-- Encabezado del ticket -->
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-primary">
            <i class="bi bi-envelope text-info"></i>
            Ticket Código: <span id="ticketInfo" th:data-codigo="${detalle.ticket.codigoTicket}" th:text="${detalle.ticket.codigoTicket}">TK-0000</span>
        </h2>
    </div>

    <!-- Fila de cards -->
    <div class="row g-4">
        <!-- Card 1 - Envío (Siempre visible) -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3">Datos de Envío</h5>
                    <p class="mb-1"><i class="bi bi-chat-left-text"></i> <span th:text="${detalle.ticket.descripcion}">Descripción</span>
                    </p>
                    <p class="mb-1"><i class="bi bi-person"></i> <span th:text="${detalle.ticket.usuario.nombre}">Usuario</span>
                    </p>
                    <p class="mb-1"><i class="bi bi-calendar"></i> <span th:text="${detalle.fechaFormateadaTicket}">Fecha</span>
                        <span th:text="${detalle.horaFormateadaTicket}">Hora</span></p>
                    <p class="mb-0" th:each="adjunto: ${detalle.ticket.listaArchivosAdjuntos}">
                        <i class="bi bi-paperclip"></i>
                        <a th:href="@{/app/tickets/adjunto/descargar/{id}(id=${adjunto.id})}" href="#"
                           th:text="${adjunto.nombre}">Archivo</a> - <span
                            th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Cards visibles si NO está desestimado -->
        <div th:if="${!#strings.equals(detalle.ticket.faseTicket.nombre, 'Desestimado')}" class="col-md-8">
            <div class="row g-4">
                <!-- Card 2 - Recepción -->
                <div class="col-md-6">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Datos de Recepción</h5>
                            <div th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Enviado')}">
                                <p class="text-muted">Aún no se ha recepcionado el Ticket.</p>
                            </div>
                            <div th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Recepcionado - En Proceso') or #strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido')}">
                                <p class="mb-1"><i class="bi bi-chat-left-text"></i> <span
                                        th:text="${detalle.recepcion.mensaje}">Mensaje</span></p>
                                <p class="mb-1"><i class="bi bi-person"></i> <span
                                        th:text="${detalle.recepcion.usuario.nombre}">Receptor</span></p>


                                <p class="mb-1"><i class="bi bi-calendar"></i> <span
                                        th:text="${detalle.fechaFormateadaRecepcion}">Fecha</span> <span
                                        th:text="${detalle.horaFormateadaRecepcion}">Hora</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 - Atención -->
                <div class="col-md-6">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Datos de Atención</h5>
                            <div th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido')}">
                                <p class="mb-1"><i class="bi bi-chat-left-text"></i> <span
                                        th:text="${detalle.atencion.descripcion}">Descripción</span></p>
                                <p class="mb-1"><i class="bi bi-person"></i> <span
                                        th:text="${detalle.atencion.usuario.nombre}">Usuario</span></p>

                                <p class="mb-1"><i class="bi bi-building"></i> <span
                                        th:text="${'Area: '+ detalle.atencion.areaAtencion.nombre}">Clasificacion Área</span>
                                </p>

                                <p class="mb-1"><i class="bi bi-exclamation-diamond-fill"></i> <span
                                        th:text="${detalle.atencion.tipoIncidencia.subCategoriaIncidencia.nombre+ ': ' + detalle.atencion.tipoIncidencia.nombre}">Clasificacion Incidencia</span>
                                </p>

                                <p class="mb-1"><i class="bi bi-alarm-fill" sec:authorize="hasAnyAuthority('Admin','Soporte')"></i> <span
                                        th:text="${'Nivel Urgencia: '+ detalle.atencion.clasificacionUrgencia.nombre}">Clasificacion Urgencia</span>
                                </p>
                                <p class="mb-1"><i class="bi bi-tools"></i> <span
                                        th:text="${detalle.atencion.clasificacionAtencion.nombre}">Clasificacion Atencion</span>
                                </p>

                                <p class="mb-1"><i class="bi bi-calendar"></i> <span
                                        th:text="${detalle.fechaFormateadaAtencion}">Fecha</span> <span
                                        th:text="${detalle.horaFormateadaAtencion}">Hora</span></p>
                            </div>
                            <div th:if="${!#strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido')}">
                                <p class="text-muted">Aún no se ha atendido el Ticket.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 4 - Desestimación (Solo si está desestimado) -->
        <div class="col-md-4" th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Desestimado')}">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3">Datos de Desestimación</h5>
                    <p class="mb-1"><i class="bi bi-chat-left-text"></i> <span
                            th:text="${detalle.desestimacion.descripcion}">Descripción</span></p>
                    <p class="mb-1"><i class="bi bi-person"></i> <span
                            th:text="${detalle.desestimacion.usuario.nombre}">Usuario</span></p>
                    <p class="mb-1"><i class="bi bi-calendar"></i> <span
                            th:text="${detalle.fechaFormateadaDesestimacion}">Fecha</span> <span
                            th:text="${detalle.horaFormateadaDesestimacion}">Hora</span></p>
                    <p class="mb-0"><i class="bi bi-tag"></i> <span>Desestimado</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4" sec:authorize="hasAnyAuthority('Admin','Soporte')">

        <button th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Enviado')}"
                type="button" class="btn btn-primary btn-ticket-accion" data-bs-toggle="modal"
                data-bs-target="#recepcionModal" th:data-ticket-id="${detalle.ticket.id}"
                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                th:data-ticket-hora="${detalle.horaFormateadaTicket}"
                th:data-codigo-ticket="${detalle.ticket.codigoTicket}">
            <i class="bi bi-pencil-square"></i>
            Recepcionar
        </button>
        <button th:if="${#strings.equals(detalle.ticket.faseTicket.nombre, 'Recepcionado - En Proceso')}"
                type="button" class="btn btn-success btn-ticket-accion" data-bs-toggle="modal"
                data-bs-target="#atencionModal" th:data-ticket-id="${detalle.ticket.id}"
                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                th:data-ticket-hora="${detalle.horaFormateadaTicket}"
                th:data-codigo-ticket="${detalle.ticket.codigoTicket}">
            <i class="bi bi-check2-square"></i>
            Atender
        </button>
        <button th:if="${!#strings.equals(detalle.ticket.faseTicket.nombre, 'Desestimado') and !#strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido')}"
                type="button" class="btn btn-danger btn-ticket-accion" data-bs-toggle="modal"
                data-bs-target="#desestimacionModal" th:data-ticket-id="${detalle.ticket.id}"
                th:data-ticket-usuario="${detalle.ticket.usuario.nombre}"
                th:data-ticket-descripcion="${detalle.ticket.descripcion}"
                th:data-ticket-fase="${detalle.ticket.faseTicket.nombre}"
                th:data-ticket-fecha="${detalle.fechaFormateadaTicket}"
                th:data-ticket-hora="${detalle.horaFormateadaTicket}"
                th:data-codigo-ticket="${detalle.ticket.codigoTicket}"
                th:data-numero-fase="${detalle.ticket.faseTicket.id}">
            <i class="bi bi-trash"></i>
            Desestimar
        </button>

        <a class="btn btn-outline-primary btn-pagina-ticket"
           th:href="@{${#strings.equals(detalle.ticket.faseTicket.nombre, 'Enviado') ? '/soporte/Recepcionar' :
                      (#strings.equals(detalle.ticket.faseTicket.nombre, 'Recepcionado - En Proceso') ? '/soporte/Atender' :
                      (#strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido') ? '/soporte/Tickets-Cerrados' :
                      '/soporte/Tickets-Desestimados'))}}">
            Ir a la sección del ticket
        </a>
    </div>
    <!-- Botón de redirección -->
    <div class="text-center mt-4 btn-pagina-ticket" sec:authorize="hasAnyAuthority('Usuario')">
        <a class="btn btn-outline-primary"
           th:href="@{${#strings.equals(detalle.ticket.faseTicket.nombre, 'Enviado') ? '/inicio' :
                      (#strings.equals(detalle.ticket.faseTicket.nombre, 'Recepcionado - En Proceso') ? '/TicketsEnProceso' :
                      (#strings.equals(detalle.ticket.faseTicket.nombre, 'Cerrado - Atendido') ? '/TicketsAtendidos' :
                      '/TicketsDesestimados'))}}">
            Ir a la sección del ticket
        </a>
    </div>
</div>

<!-- Modal para atención -->
<div class="modal fade" id="atencionModal" tabindex="-1" aria-labelledby="atencionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="atencionForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="atencionModalLabel"><i class="bi bi-tools"></i> ATENCIÓN
                        <span id="TicketIdFormateado"></span>: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p style="text-align:center;"><strong>DETALLES DE TICKET</strong></p>
                    <!-- Sección de Detalles del Ticket -->
                    <div class="mb-3 text-secondary">
                        <p><strong>USUARIO: </strong> <span id="modalTicketUsuario"></span></p>
                        <p><strong>DESCRIPCIÓN: </strong><span id="modalTicketDescripcion"></span></p>
                    </div>
                    <div class="mb-3">
                        <label for="descripcionAtencion" class="form-label"><strong><i class="bi bi-check2-square"></i>
                            DESCRIPCIÓN DE ATENCIÓN:</strong></label>
                        <textarea class="form-control" id="descripcionAtencion" name="descripcion" rows="4"
                                  placeholder="Agrega algún comentario sobre la atención del ticket..."
                                  required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="areaAtencion" class="form-label"><strong><i class="bi bi-diagram-3"></i> ÁREA
                            ATENDIDA:</strong></label>
                        <select class="form-select" id="areaAtencion" name="area_atencion"
                                required>
                            <option selected disabled value="">Selecciona un área</option>
                            <option th:each="tipo : ${Lista_area_atencion}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                        </select>
                    </div>






                    <!-- CATEGORÍA -->
                    <div class="mb-3">
                        <label for="Lista_cat_incidencia" class="form-label"><strong><i class="bi bi-flag"></i> CATEGORÍA:</strong></label>
                        <select class="form-select" id="Lista_cat_incidencia" name="Lista_cat_incidencia" required>
                            <option selected disabled value="">Selecciona la categoría</option>
                            <option th:each="tipo : ${Lista_cat_incidencia}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                        </select>
                    </div>

                    <!-- SUBCATEGORÍA (inicialmente oculta) -->
                    <div class="mb-3 d-none" id="subcategoria-wrapper">
                        <label for="Lista_subcat_incidencia" class="form-label"><strong><i class="bi bi-flag-fill"></i> SUBCATEGORÍA:</strong></label>
                        <select class="form-select" id="Lista_subcat_incidencia" name="subcat_incidencia" required>
                            <option selected disabled value="">Selecciona la subcategoría</option>
                        </select>
                    </div>

                    <!-- TIPO INCIDENCIA (inicialmente oculta) -->
                    <div class="mb-3 d-none" id="tipo-wrapper">
                        <label for="tipo_incidencia" class="form-label"><strong><i class="bi bi-flag-fill"></i> TIPO DE INCIDENCIA:</strong></label>
                        <select class="form-select" id="tipo_incidencia" name="tipo_incidencia" required>
                            <option selected disabled value="">Selecciona el tipo de Incidencia</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="clasificacionUrgencia" class="form-label"><strong><i
                                class="bi bi-exclamation-triangle"></i>
                            CLASIFICACIÓN DE URGENCIA:</strong></label>
                        <select class="form-select" id="clasificacionUrgencia" name="clasificacion_urgencia"
                                required>
                            <option selected disabled value="">Selecciona Urgencia</option>
                            <option th:each="tipo : ${Lista_clasificacion_urgencia}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="clasificacionAtencion" class="form-label"><strong><i class="bi bi-list-check"></i>
                            CLASIFICACIÓN DE ATENCIÓN:</strong></label>
                        <select class="form-select" id="clasificacionAtencion" name="clasificacion_atencion"
                                required>
                            <option selected disabled value="">Selecciona una clasificación</option>
                            <option th:each="tipo : ${Lista_clasificacion_atencion}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>

                        </select>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success submit-btn">Guardar Atencion</button>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    // Al abrir el modal, actualizar su contenido con los datos del ticket seleccionado
    const atencionModal = document.getElementById('atencionModal');
    atencionModal.addEventListener('show.bs.modal', function (event) {
        // Botón que disparó el modal
        const button = event.relatedTarget;

        // Extraer información del ticket desde los atributos data-*
        const ticketId = button.getAttribute('data-ticket-id');
    const formattedTicketId = button.getAttribute('data-codigo-ticket');
        const ticketUsuario = button.getAttribute('data-ticket-usuario');
        const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
        const ticketClasificacion = button.getAttribute('data-ticket-clasificacion');
        const ticketFase = button.getAttribute('data-ticket-fase');
        const ticketFecha = button.getAttribute('data-ticket-fecha');
        const ticketHora = button.getAttribute('data-ticket-hora');

        // Actualizar los elementos del modal con la información del ticket
        document.getElementById('TicketIdFormateado').textContent = formattedTicketId;
        document.getElementById('modalTicketUsuario').textContent = ticketUsuario;
        document.getElementById('modalTicketDescripcion').textContent = ticketDescripcion;


        // Actualizar la acción del formulario para que envíe el ticket correspondiente
        const form = document.getElementById('atencionForm');
        form.setAttribute('action', `/app/tickets/atencion/${ticketId}`);
    });
</script>


<!-- Modal para Recepción -->
<div class="modal fade" id="recepcionModal" tabindex="-1" aria-labelledby="recepcionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="recepcionForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="recepcionModalLabel"><i class="bi bi-ticket-detailed"></i>
                        Recepción <span id="modalTicketIdFormateado"></span>:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="mb-3 text-secondary">
                            <p><strong>USUARIO:</strong> <span id="modalTicketUsuarioRecepcion"></span></p>
                            <p><strong>DESCRIPCIÓN:</strong> <span id="modalTicketDescripcionRecepcion"></span></p>
                        </div>
                        <div class="mb-3">
                            <label for="comentariosRecepcion" class="form-label"><strong><i
                                    class="bi bi-chat-left-text"></i> COMENTARIOS DE RECEPCIÓN:</strong></label>
                            <textarea class="form-control" id="comentariosRecepcion" name="mensaje" rows="4"
                                      placeholder="Agrega algún comentario sobre la recepción del ticket..."
                                      required>Por favor, espere un momento. Un técnico se dirigirá a su área en breve para atender su caso.</textarea>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary submit-btn">Guardar Recepción</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Al abrir el modal, actualizar su contenido con los datos del ticket seleccionado
    const recepcionModal = document.getElementById('recepcionModal');
    recepcionModal.addEventListener('show.bs.modal', function (event) {
        // Botón que disparó el modal
        const button = event.relatedTarget;

        // Extraer información del ticket desde los atributos data-*
        const ticketId = button.getAttribute('data-ticket-id');
    const formattedTicketId = button.getAttribute('data-codigo-ticket');

        const ticketUsuario = button.getAttribute('data-ticket-usuario');
        const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
        const ticketFase = button.getAttribute('data-ticket-fase');
        const ticketFecha = button.getAttribute('data-ticket-fecha');
        const ticketHora = button.getAttribute('data-ticket-hora');

        // Actualizar los elementos del modal con la información del ticket
        document.getElementById('modalTicketIdFormateado').textContent = formattedTicketId;
        document.getElementById('modalTicketUsuarioRecepcion').textContent = ticketUsuario;
        document.getElementById('modalTicketDescripcionRecepcion').textContent = ticketDescripcion;

        // Actualizar la acción del formulario para que envíe el ticket correspondiente
        const form = document.getElementById('recepcionForm');
        form.setAttribute('action', `/app/tickets/recepcion/${ticketId}`);
    });
</script>


<!-- Modal para Desestimación -->
<div class="modal fade" id="desestimacionModal" tabindex="-1" aria-labelledby="desestimacionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="desestimacionForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="desestimacionModalLabel"><i class="bi bi-trash"></i>
                        Desestimación <span id="desestimacionTicketIdFormateado"></span>:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3 text-secondary">
                        <p><strong>USUARIO:</strong> <span id="desestimacionTicketUsuario"></span></p>
                        <p><strong>DESCRIPCIÓN:</strong> <span id="desestimacionTicketDescripcion"></span></p>
                    </div>
                    <div class="mb-3">
                        <label for="comentariosDesestimacion" class="form-label"><strong><i
                                class="bi bi-chat-left-text"></i> COMENTARIOS DE DESESTIMACIÓN</strong></label>
                        <textarea class="form-control" id="comentariosDesestimacion" name="mensaje" rows="4"
                                  placeholder="Agrega algún comentario sobre la desestimación del ticket..."
                                  required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="clasificacionDesestimacion" class="form-label"><strong><i
                                class="bi bi-slash-circle"></i> CLASIFICACIÓN DE DESESTIMACIÓN</strong></label>
                        <select class="form-select" id="clasificacionDesestimacion"
                                name="clasificacion_desestimacion" required>
                            <option selected disabled value="">Selecciona Desestimacion</option>
                            <option th:each="tipo : ${Lista_clasificacion_desestimacion}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                        </select>
                    </div>
                    <input type="number" id="desestimacionTicketNumeroFase" style="display:none" name="fase">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger submit-btn">Desestimar Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Al abrir el modal de desestimación, actualizar su contenido con los datos del ticket seleccionado
    const desestimacionModal = document.getElementById('desestimacionModal');
    desestimacionModal.addEventListener('show.bs.modal', function (event) {
        // Botón que disparó el modal
        const button = event.relatedTarget;

        // Extraer información del ticket desde los atributos data-*
        const ticketId = button.getAttribute('data-ticket-id');
        const formattedTicketId = button.getAttribute('data-codigo-ticket');
        const ticketUsuario = button.getAttribute('data-ticket-usuario');
        const ticketDescripcion = button.getAttribute('data-ticket-descripcion');
        const ticketFecha = button.getAttribute('data-ticket-fecha');
        const ticketHora = button.getAttribute('data-ticket-hora');
        const ticketNumeroFase = button.getAttribute('data-numero-fase');


        // Actualizar los elementos del modal con la información del ticket
        document.getElementById('desestimacionTicketIdFormateado').textContent = formattedTicketId;
        document.getElementById('desestimacionTicketUsuario').textContent = ticketUsuario;
        document.getElementById('desestimacionTicketDescripcion').textContent = ticketDescripcion;
        document.getElementById('desestimacionTicketNumeroFase').value = ticketNumeroFase;

        // Actualizar la acción del formulario para que envíe el ticket correspondiente
        const form = document.getElementById('desestimacionForm');
        form.setAttribute('action', `/app/tickets/desestimacion/${ticketId}`);
    });
</script>




<!--LOGICA SELECT DINAMICO EN ATENCION-->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const catSelect = document.getElementById("Lista_cat_incidencia");
        const subCatSelect = document.getElementById("Lista_subcat_incidencia");
        const tipoSelect = document.getElementById("tipo_incidencia");

        const subcatWrapper = document.getElementById("subcategoria-wrapper");
        const tipoWrapper = document.getElementById("tipo-wrapper");

        catSelect.addEventListener("change", () => {
            const idCategoria = catSelect.value;
            fetch(`/app/clasificadores/listar/subCatIncidenciaActivos/${idCategoria}`)
                .then(response => response.json())
                .then(data => {
                    subCatSelect.innerHTML = '<option selected disabled value="">Selecciona la subcategoría</option>';
                    tipoSelect.innerHTML = '<option selected disabled value="">Selecciona el tipo de Incidencia</option>';
                    tipoWrapper.classList.add("d-none"); // ocultar tipo

                    if (data.length > 0) {
                        subcatWrapper.classList.remove("d-none");
                        data.forEach(subcat => {
                            const option = document.createElement("option");
                            option.value = subcat.id;
                            option.text = subcat.nombre;
                            subCatSelect.appendChild(option);
                        });
                    } else {
                        subcatWrapper.classList.add("d-none");
                    }
                });
        });

        subCatSelect.addEventListener("change", () => {
            const idSubCategoria = subCatSelect.value;
            fetch(`/app/clasificadores/listar/tipoIncidenciaActivos/${idSubCategoria}`)
                .then(response => response.json())
                .then(data => {
                    tipoSelect.innerHTML = '<option selected disabled value="">Selecciona el tipo de Incidencia</option>';
                    if (data.length > 0) {
                        tipoWrapper.classList.remove("d-none");
                        data.forEach(tipo => {
                            const option = document.createElement("option");
                            option.value = tipo.id;
                            option.text = tipo.nombre;
                            tipoSelect.appendChild(option);
                        });
                    } else {
                        tipoWrapper.classList.add("d-none");
                    }
                });
        });
    });
</script>





<script>
    // Obtener el código del ticket desde el span
const codigoTicket = document.getElementById('ticketInfo').dataset.codigo;

    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, () => {
        const destino = `/topic/actualizar/ticket/${codigoTicket}`;
        stompClient.subscribe(destino, function (mensaje) {
            if (mensaje.body === 'actualizar') {
                console.log("Se actualizó el ticket, recargando datos...");

                fetch(`/app/tickets/datos/${codigoTicket}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("No se pudo obtener el ticket");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("Datos actualizados del ticket:", data);
                        // Aquí puedes actualizar el DOM con los nuevos datos
                        // Ejemplo: document.getElementById('fecha').textContent = data.fechaFormateadaTicket;
                    })
                    .catch(error => {
                        console.error("Error al obtener datos del ticket:", error);
                    });
            }
        });
    });
</script>




<div th:insert="~{common/imports :: bodyImportsAndNotification}"></div>
<div th:insert="~{common/footer :: footer}">
</div>
</body>
</html>
