<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<header th:replace="~{common/header :: header}">
</header>

<main>
    <h1>MIS RECEPCIONADOS</h1>
    <!--Mis tickets Recepcionados-->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Descripción de Incidencia</th>
            <th>Mensaje Recepción</th>

        </tr>
        </thead>
        <tbody>
        <!-- Iterar sobre los tickets con un solo bucle th:each -->
        <tr th:each="recepcionado, iter: ${MyRecepcionados}">
            <td th:text="${iter.count}">#</td>
            <td th:text="${recepcionado.fechaFormateadaRecepcion}">Fecha</td>
            <td th:text="${recepcionado.horaFormateadaRecepcion}">Hora</td>
            <td th:text="${recepcionado.ticket.descripcion}">Descripción de Incidencia</td>
            <td th:text="${recepcionado.mensaje}">Mensaje de Recepción</td>

        </tr>
        </tbody>
    </table>

</main>
<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>

</body>
</html>