<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/imports/bootstrap/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" th:href="@{/images/msystem.png}">
    <title>HelpDesk - Login</title>
    <style>
        body {
          background-color: #f8f9fa; /* Color de fondo suave */
        }

        .login-container {
          width: 300px; /* Ancho máximo del formulario */
          background-color: #ffffff; /* Fondo blanco para el formulario */
          padding: 2rem; /* Espaciado interno */
          border-radius: 0.5rem; /* Bordes redondeados */
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra */
        }
    </style>
</head>

<body>

<main>
    <section style="text-align: center;">
        <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

            <form action="/app/login" method="POST" class="login-container" autocomplete="off">
                <img style="width:50px;" src="/images/msystem.png" alt="logo">
                <h3 class="text-center mb-2">Iniciar Sesión</h3>

                <div class="container-fluid" style="max-width: 250px; font-size: 10px; text-align: center;">
                    <div th:if="${error == 'inactive'}" style="color: red;">
                        Tu usuario está desactivado. Por favor, contacta al administrador.
                    </div>
                    <div th:if="${error == 'badCredentials'}" style="color: red;">
                        Usuario o contraseña incorrectos. Por favor, intenta de nuevo.
                    </div>
                    <div th:if="${error == 'unknown'}" style="color: red;">
                        Ocurrió un error inesperado. Intenta de nuevo más tarde.
                    </div>
                </div>




                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username"
                           class="form-control"
                           required autocomplete="off"
                           th:value="${username != null ? username : ''}" />
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required autocomplete="off"/>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </section>

</main>
<script src="/imports/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
