<!doctype html>
<html lang="es">

<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>HelpDesk - Login</title>
    <style>
        body {
          background-color: #f8f9fa; /* Color de fondo suave */
        }

        .login-container {
          max-width: 400px; /* Ancho máximo del formulario */
          background-color: #ffffff; /* Fondo blanco para el formulario */
          padding: 2rem; /* Espaciado interno */
          border-radius: 0.5rem; /* Bordes redondeados */
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra */
        }
    </style>
</head>

<body>

<main>
    <section>
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <form action="/app/login" method="POST" class="login-container">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required/>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required/>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- jQuery (opcional, necesario para componentes de Bootstrap que lo requieran) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1f5D6E6Fj+WQZc1ctT56U5+6ZT6Y5y6PHo2QqR" crossorigin="anonymous"></script>

<!-- Popper.js (requerido para tooltip y dropdowns) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybZ1MZ5FZlZB8B+NU0vW5/qX3lqN+G3gWgTcAYI4zSTHPO5iD" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1f5D6E6Fj+WQZc1ctT56U5+6ZT6Y5y6PHo2QqR" crossorigin="anonymous"></script>

</body>

</html>
