<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:insert="~{common/imports :: headImports}">
</head>

<body>

<header th:replace="~{common/header :: header}">
</header>


<h1 class="mb-4 text-center">Tickets Enviados</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nuevo Ticket
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/app/tickets/crearTicket" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Ticket</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4"
                                  placeholder="Describe el problema." required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="clasificacion" class="form-label">Clasificación de Incidencia</label>
                        <select class="form-select" id="clasificacion" name="clasificacion" required>
                            <option selected disabled value="">Selecciona la clasificación</option>
                            <option th:each="tipo : ${Lista_clasificacion_incidencia}" th:value="${tipo.id}"
                                    th:text="${tipo.nombre}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="archivo" class="form-label">Subir Archivo (opcional)</label>
                        <input class="form-control" type="file" id="archivo" name="archivo">
                    </div>
                </div>

                <div class="modal-footer">
                    <p class="text-warning">Este Ticket no podrá ser eliminado ni modificado</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear Ticket</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--MIS TICKETS-->
<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>N°</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th class="descripcionTD">Descripción</th>
        <th>Archivos Adjuntos</th>
        <th>Fase</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre los tickets con un solo bucle th:each -->
    <tr th:each="ticket, iter: ${MyTickets}">
        <td th:text="${iter.count}">#</td>
        <td th:text="${ticket.fechaFormateada}">Fecha</td>
        <td th:text="${ticket.horaFormateada}">Hora</td>
        <td>
            <span class="nombreClasificacionIncidencia"
                  th:utext="${ticket.clasificacionIncidencia.nombre + ':<br>'}"></span>
            <span th:text="${ticket.descripcion}"></span><br>
        </td>

        <td>
            <!-- Mostrar la lista de archivos adjuntos de cada ticket -->
            <ul>
                <li th:each="adjunto: ${ticket.listaArchivosAdjuntos}">
                    <a th:href="@{'app/tickets/adjunto/descargar/' + ${adjunto.id}}" href="#"
                       th:text="${adjunto.nombre}">Archivo</a> - <span
                        th:text="${adjunto.getPesoEnMegabytes()}">mb</span>
                </li>
            </ul>
        </td>
        <td th:text="${ticket.faseTicket.nombre}">Fase</td>
    </tr>
    </tbody>
</table>

<div id="customNotification" class="custom-notification" style="display: none;">
    <p id="notificationMessage"></p>
</div>
<audio id="notificationSound" src="/sounds/alert.mp3" preload="auto"></audio>


<div th:insert="~{common/imports :: bodyImportsAndNotification}">
</div>

</body>
</html>
