<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
    <title>Exportar Tickets</title>
</head>
<body>
<header th:replace="~{common/header :: header}"></header>
<main>
    <script src="/imports/chart.min.js"></script>

    <div class="container">
        <h2>DIRECCIÓN: Dashboard</h2>

        <!-- Formulario de Filtrado por Fecha -->
        <form id="formFiltrado" class="form-inline">
            <label for="fechaInicio">Fecha Inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio">

            <label for="fechaFin">Fecha Fin:</label>
            <input type="date" id="fechaFin" name="fechaFin">

            <button type="button" id="btnFiltrar" class="btn btn-primary">Filtrar</button>
        </form>
    </div>



    <div class="container" style="margin-top: 10px">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 text-center mb-4">
                <a href="/direccion/Recibidos" class="btn-dashboard">
                    <div class="rounded text-dark card" style="background-color: #f8d7da;">
                        <p class="mb-0">Tickets Recibidos</p>
                        <div class="info-container">
                            <span id="nRecibidos" class="h4 mb-0">0</span> <!-- ID agregado -->
                            <i class="bi bi-ticket icon"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>
        // URL del endpoint que devuelve el número de tickets por recepcionar
        const endpoint = '/app/dashboard/contador/redireccionados';

        // Función para actualizar el contenido de nRecibidos
        function actualizarNRecibidos() {
            fetch(endpoint)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la respuesta del servidor');
                    }
                    return response.json(); // Asume que el endpoint devuelve un número en formato JSON
                })
                .then(data => {
                    // Actualizar el valor en el DOM
                    document.getElementById('nRecibidos').textContent = data;
                })
                .catch(error => console.error('Error al obtener nRecibidos:', error));
        }

        // Llamar a la función al cargar la página
        actualizarNRecibidos();

        // Actualizar cada 5 segundos
        setInterval(actualizarNRecibidos, 5000);
    </script>



    <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
        <h3><i class="bi bi-motherboard"></i> Gráfico de Componentes Solicitados Aprobados</h3>
        <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
            <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-2 order-md-1">
                <table class="table table-bordered table-hover" style="font-size:14px;">
                    <thead>
                    <tr>
                        <th>Componente Solicitado</th>
                        <th>Contador</th>
                        <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                    </tr>
                    </thead>
                    <tbody id="TipoComponentesAdjuntosAprobadosTabla">
                    <!-- Filas se agregarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
            <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-1 order-md-2">
                <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                <canvas id="TipoComponentesAdjuntosAprobados"
                        style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
            </div>
        </div>
    </div>


    <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
        <h3><i class="bi bi-flag"></i> Tickets por Incidencia:</h3>
        <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
            <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-2 order-md-1">
                <table class="table table-bordered table-hover" style="font-size:14px;">
                    <thead>
                    <tr>
                        <th>Clasificación de Incidencia</th>
                        <th>Conteo de Tickets</th>
                        <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                    </tr>
                    </thead>
                    <tbody id="TicketsporIncidenciaTabla">
                    <!-- Filas se agregarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
            <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-1 order-md-2">
                <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                <canvas id="TicketsporIncidencia"
                        style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
            </div>
        </div>
    </div>



    <div class="container text-center mt-4 border shadow p-3 px-4 mb-5 bg-body rounded">
        <h3><i class="bi bi-exclamation-triangle"></i> Tickets por Urgencia:</h3>
        <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
            <!-- Div que contiene la tabla, con order-2 para que aparezca después en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-2 order-md-1">
                <table class="table table-bordered table-hover" style="font-size:14px;">
                    <thead>
                    <tr>
                        <th>Urgencia</th>
                        <th>Conteo de Tickets</th>
                        <th>Porcentaje (%)</th> <!-- Nueva columna para el porcentaje -->
                    </tr>
                    </thead>
                    <tbody id="TicketsporUrgenciaTabla">
                    <!-- Filas se agregarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
            <!-- Div que contiene el gráfico, con order-1 para que aparezca primero en pantallas pequeñas -->
            <div class="col-12 col-md-6 order-1 order-md-2">
                <!-- El canvas ahora ocupa el 100% del ancho disponible y mantiene la proporción -->
                <canvas id="TicketsporUrgencia"
                        style="max-width: 100%; height: 300px; margin-top:10px; margin-bottom:10px;"></canvas>
            </div>
        </div>
    </div>

</main>
<script src="/js/graficosDashboard.js"></script>
<script>
    inicializarDashboard();
</script>

<div th:insert="~{common/imports :: bodyImportsAndNotification}"></div>
</body>
</html>
