USE [master]
GO
/****** Object:  Database [ticketsIPOR]    Script Date: 6/10/2024 22:40:40 ******/
CREATE DATABASE [ticketsIPOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ticketsIPOR', FILENAME = N'C:\SQLData\Data\ticketsIPOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ticketsIPOR_log', FILENAME = N'C:\SQLData\Log\ticketsIPOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ticketsIPOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ticketsIPOR]
GO
/****** Object:  User [alex]    Script Date: 6/10/2024 22:40:40 ******/
CREATE USER [alex] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[archivo_adjunto]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archivo_adjunto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[archivo] [varbinary](max) NULL,
	[nombre] [varchar](255) NULL,
	[peso_contenido] [float] NULL,
	[tipo_contenido] [varchar](255) NULL,
	[id_ticket] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clasificacion_incidencia]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion_incidencia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clasificacion_servicio]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion_servicio](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clasificacion_urgencia]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion_urgencia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fase_ticket]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fase_ticket](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recepcion]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recepcion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[mensaje] [varchar](max) NULL,
	[id_clasificacion_urgencia] [bigint] NULL,
	[id_ticket] [bigint] NULL,
	[id_usuario] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_usuario]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_usuario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[id_clasificacion_atencion] [bigint] NULL,
	[id_ticket] [bigint] NULL,
	[id_usuario] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[id_clasificacion_incidencia] [bigint] NULL,
	[id_fase_ticket] [bigint] NULL,
	[id_usuario] [bigint] NULL,
 CONSTRAINT [PK__ticket__3213E83F973EC730] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 6/10/2024 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[id_rol_usuario] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[archivo_adjunto] ON 

SET IDENTITY_INSERT [dbo].[archivo_adjunto] OFF
GO
SET IDENTITY_INSERT [dbo].[clasificacion_incidencia] ON 

INSERT [dbo].[clasificacion_incidencia] ([id], [nombre]) VALUES (1, N'Computadora fallando')
INSERT [dbo].[clasificacion_incidencia] ([id], [nombre]) VALUES (2, N'Falta de tinta en impresora')
INSERT [dbo].[clasificacion_incidencia] ([id], [nombre]) VALUES (3, N'Error de conexión a internet')
SET IDENTITY_INSERT [dbo].[clasificacion_incidencia] OFF
GO
SET IDENTITY_INSERT [dbo].[clasificacion_servicio] ON 

INSERT [dbo].[clasificacion_servicio] ([id], [nombre]) VALUES (1, N'Incidencia resuelta')
INSERT [dbo].[clasificacion_servicio] ([id], [nombre]) VALUES (2, N'Falta de equipos')
INSERT [dbo].[clasificacion_servicio] ([id], [nombre]) VALUES (3, N'Delegado a proveedor')
SET IDENTITY_INSERT [dbo].[clasificacion_servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[clasificacion_urgencia] ON 

INSERT [dbo].[clasificacion_urgencia] ([id], [nombre]) VALUES (1, N'Baja')
INSERT [dbo].[clasificacion_urgencia] ([id], [nombre]) VALUES (2, N'Media')
INSERT [dbo].[clasificacion_urgencia] ([id], [nombre]) VALUES (3, N'Alta')
SET IDENTITY_INSERT [dbo].[clasificacion_urgencia] OFF
GO
SET IDENTITY_INSERT [dbo].[fase_ticket] ON 

INSERT [dbo].[fase_ticket] ([id], [nombre]) VALUES (1, N'Enviado')
INSERT [dbo].[fase_ticket] ([id], [nombre]) VALUES (2, N'Recepcionado - En Proceso')
INSERT [dbo].[fase_ticket] ([id], [nombre]) VALUES (3, N'Cerrado - Atendido')
SET IDENTITY_INSERT [dbo].[fase_ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[recepcion] ON 

INSERT [dbo].[recepcion] ([id], [fecha], [hora], [mensaje], [id_clasificacion_urgencia], [id_ticket], [id_usuario]) VALUES (1, CAST(N'2024-10-06' AS Date), CAST(N'19:42:50.4166667' AS Time), N'RECEPCION TICKET 1', 1, 1, 2)
INSERT [dbo].[recepcion] ([id], [fecha], [hora], [mensaje], [id_clasificacion_urgencia], [id_ticket], [id_usuario]) VALUES (2, CAST(N'2024-10-06' AS Date), CAST(N'19:43:36.3766667' AS Time), N'RECEPCION TICKET 5', 3, 5, 2)
SET IDENTITY_INSERT [dbo].[recepcion] OFF
GO
SET IDENTITY_INSERT [dbo].[rol_usuario] ON 

INSERT [dbo].[rol_usuario] ([id], [nombre]) VALUES (1, N'Usuario')
INSERT [dbo].[rol_usuario] ([id], [nombre]) VALUES (2, N'Soporte')
INSERT [dbo].[rol_usuario] ([id], [nombre]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[rol_usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[ticket] ON 

INSERT [dbo].[ticket] ([id], [descripcion], [fecha], [hora], [id_clasificacion_incidencia], [id_fase_ticket], [id_usuario]) VALUES (1, N'PRUEBAUSUARIO', CAST(N'2024-10-06' AS Date), CAST(N'09:07:08.5666667' AS Time), 1, 2, 1)
INSERT [dbo].[ticket] ([id], [descripcion], [fecha], [hora], [id_clasificacion_incidencia], [id_fase_ticket], [id_usuario]) VALUES (2, N'PRUEBAUSUARIO2', CAST(N'2024-10-06' AS Date), CAST(N'09:07:35.6000000' AS Time), 5, 1, 1)
INSERT [dbo].[ticket] ([id], [descripcion], [fecha], [hora], [id_clasificacion_incidencia], [id_fase_ticket], [id_usuario]) VALUES (3, N'PRUEBASOPORTE', CAST(N'2024-10-06' AS Date), CAST(N'09:07:54.8533333' AS Time), 3, 1, 2)
SET IDENTITY_INSERT [dbo].[ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [password], [username], [id_rol_usuario]) VALUES (1, N'usuario', N'$2a$12$KHutHxci1z3u.9Hm77UgeupxbDYh0ecZ3YcYgTMUdPkdbwAhq0R1G', N'usuario', 1)
INSERT [dbo].[usuario] ([id], [nombre], [password], [username], [id_rol_usuario]) VALUES (2, N'soporte', N'$2a$12$KHutHxci1z3u.9Hm77UgeupxbDYh0ecZ3YcYgTMUdPkdbwAhq0R1G', N'soporte', 2)
INSERT [dbo].[usuario] ([id], [nombre], [password], [username], [id_rol_usuario]) VALUES (3, N'admin', N'$2a$12$KHutHxci1z3u.9Hm77UgeupxbDYh0ecZ3YcYgTMUdPkdbwAhq0R1G', N'admin', 3)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[archivo_adjunto]  WITH CHECK ADD  CONSTRAINT [FKawc0clcs08njnjeggc5vuf9n4] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[ticket] ([id])
GO
ALTER TABLE [dbo].[archivo_adjunto] CHECK CONSTRAINT [FKawc0clcs08njnjeggc5vuf9n4]
GO
ALTER TABLE [dbo].[recepcion]  WITH CHECK ADD  CONSTRAINT [FK4xm4wq0enewlcutimlh0o6btf] FOREIGN KEY([id_clasificacion_urgencia])
REFERENCES [dbo].[clasificacion_urgencia] ([id])
GO
ALTER TABLE [dbo].[recepcion] CHECK CONSTRAINT [FK4xm4wq0enewlcutimlh0o6btf]
GO
ALTER TABLE [dbo].[recepcion]  WITH CHECK ADD  CONSTRAINT [FK5v68bgx977uifqppjt547do8o] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[ticket] ([id])
GO
ALTER TABLE [dbo].[recepcion] CHECK CONSTRAINT [FK5v68bgx977uifqppjt547do8o]
GO
ALTER TABLE [dbo].[recepcion]  WITH CHECK ADD  CONSTRAINT [FKif9p6gwku1t1t3ij5w6es1jlp] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[recepcion] CHECK CONSTRAINT [FKif9p6gwku1t1t3ij5w6es1jlp]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK4jg3b4rb911ikhlf7ojbx4vw4] FOREIGN KEY([id_clasificacion_atencion])
REFERENCES [dbo].[clasificacion_servicio] ([id])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK4jg3b4rb911ikhlf7ojbx4vw4]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK82y7oo0rm1so5sr7t8e84egpp] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK82y7oo0rm1so5sr7t8e84egpp]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FKbish5bxr49xxb6nf392np7acl] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[ticket] ([id])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FKbish5bxr49xxb6nf392np7acl]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK3k34ulxchhavnak8fitnwn0u7] FOREIGN KEY([id_clasificacion_incidencia])
REFERENCES [dbo].[clasificacion_incidencia] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK3k34ulxchhavnak8fitnwn0u7]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK8lb6f8fy37ai997ky8fvvftak] FOREIGN KEY([id_fase_ticket])
REFERENCES [dbo].[fase_ticket] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK8lb6f8fy37ai997ky8fvvftak]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FKcmcylhedvw17xrxepgpy0trnm] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FKcmcylhedvw17xrxepgpy0trnm]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FKc21092qbiwyg7qct9epgpvj1k] FOREIGN KEY([id_rol_usuario])
REFERENCES [dbo].[rol_usuario] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FKc21092qbiwyg7qct9epgpvj1k]
GO
USE [master]
GO
